.container-fluid(ng-controller="FooterController as footer")
    .navbar-left
        .application-name 4.5.0
    .navbar-right
        .account-tools(ng-if="footer.authentication.user._id") Logged in as {{ footer.authentication.user.displayName }}
            a.btn.btn-sm.btn-logout(ng-href="/auth/signout") logout