<div class="container-fluid">

    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar" id="main_menu-menu">
            <ul class="nav nav-sidebar">
                <li class="placements"><a href="/#!/positions">Positions</a></li>
                <li class="packages"><a href="/packages">Packages</a></li>
                <li class="canvassing"><a href="/canvasses">Canvassing</a></li>
                <li class="student-data dropdown"><a href="/dashboard/cpo_user/%23" class="dropdown-toggle"
                                                     data-toggle="dropdown">Student Data</a>
                    <ul class="dropdown-menu">
                        <li class="students"><a href="/students">Students</a></li>
                        <li class="matriculation-plans"><a href="/matriculation_plans">Matriculation Plans</a></li>
                        <li class="courses"><a href="/courses">Courses</a></li>
                    </ul>
                </li>
                <li class="contractual dropdown"><a href="/dashboard/cpo_user/%23" class="dropdown-toggle"
                                                    data-toggle="dropdown">Contractual</a>
                    <ul class="dropdown-menu">
                        <li class="contract-requests"><a href="/contract_requests/list_view">Contract Requests</a></li>
                        <li class="addenda"><a href="/addenda">Addenda</a></li>
                        <li class="amendments"><a href="/amendments">Amendments</a></li>
                        <li class="attachments-a"><a href="/attachment_a_requests">Attachments A</a></li>
                        <li class="aa-reconciliation"><a href="/attachment_a_requests/reconciliation_needed">AA
                            Reconciliation</a></li>
                        <li class="contracts"><a href="/contracts">Contracts</a></li>
                    </ul>
                </li>
                <li class="resources dropdown"><a href="/dashboard/cpo_user/%23" class="dropdown-toggle"
                                                  data-toggle="dropdown">Resources</a>
                    <ul class="dropdown-menu">
                        <li class="entities"><a href="/organizations">Entities</a></li>
                        <li class="sites"><a href="/sites">Sites</a></li>
                        <li class="preceptors"><a href="/preceptors">Preceptors</a></li>
                    </ul>
                </li>
                <li class="reports dropdown"><a href="/reports" class="dropdown-toggle"
                                                data-toggle="dropdown">Reports</a>
                    <ul class="dropdown-menu">
                        <li class="overview"><a href="/reports">Overview</a></li>
                        <li class="operational"><a href="/reports/operational">Operational</a></li>
                        <li class="placements"><a href="/reports/placements">Placements</a></li>
                        <li class="predictive"><a href="/reports/predictive">Predictive</a></li>
                        <li class="management"><a href="/reports/management">Management</a></li>
                    </ul>
                </li>
                <li class="administration dropdown"><a href="/admin/administration" class="dropdown-toggle"
                                                       data-toggle="dropdown">Administration</a>
                    <ul class="dropdown-menu">
                        <li class="overview"><a href="/admin/administration">Overview</a></li>
                        <li class="value-lists"><a href="/admin/administration/value_lists">Value Lists</a></li>
                        <li class="users"><a href="/admin/duson_authentication/users">Users</a></li>
                        <li class="data-modeling"><a href="/admin/administration/data_modeling">Data Modeling</a></li>
                        <li class="system"><a href="/admin/administration/system">System</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="crumbs-actions">
                <div class="col-xs-12">