ng-form(name="vm.eoeForm")
    .container
        include eoedemographic-form.client.partial.html
    .container
        include eoedisability-form.client.partial.html
    .text-danger(data-ng-show='error')
        strong {{error}}
