.panel.panel-default
  .panel-heading Voluntary Self-Identification of Gender, Race & Ethnicity
  .panel-body
    .row
      .col-md-12
        .row
          .col-md-12.form-group
            label.control-label Race
            .col-md-12.control-group(data-ng-repeat='race in vm.options.races')
              input.checkbox-inline(type="checkbox", ng-model=('vm.eoe.race[race.code]'), checklist-value='race.description')
              span {{race.description}}
    .row
      .col-md-12
        .row
          .col-md-12.form-group
            label.control-label Gender
              .col-md-12.control-group
                .radio
                  label
                    input.radio#female(type='radio', value='f', ng-model='vm.eoe.gender')
                    span Female
                .radio
                  label
                    input.radio#male(type='radio', value='m', ng-model='vm.eoe.gender')
                    span Male
                .radio
                  label
                    input.radio#decline(type='radio', value='d', ng-model='vm.eoe.gender')
                    span Decline to answer
    .row
      fieldset
      //.form-group.col-xs-12
      h2 Ethnicity
      h3 Are you Hispanic?
      .col-md-12.control-group
        input#hispanic(type='radio', value='h', ng-model='vm.eoe.ethnicity')
        label Yes
        input#hispanic(type='radio', value='n', ng-model='vm.eoe.ethnicity')
        label No
        input#decline(type='radio', value='d', ng-model='vm.eoe.ethnicity')
        label Decline to answer