h1 Protected Veteran Self-Identification
.jumbotron
    p If you believe you belong to any of the categories of protected veterans listed below, please check the appropriate boxes. We request this information in order to measure the effectiveness of the outreach and positive recruitment efforts we undertake pursuant to VEVRAA.
.row
  fieldset
      .col-md-12.control-group
        input#yesId(type='radio', value='yi', ng-model='vm.eoe.veteran')
        label
          strong I identify as one or more of the classifications of protected veterans:
        input#yesNotId(type='radio', value='yn', ng-model='vm.eoe.veteran')
        label
          strong I am a protected veteran, but I choose not to self-identify the classifications to which I belong
        input#no(type='radio', value='n', ng-model='vm.eoe.veteran')
        label
          span I am NOT a protected veteran