//
// Display Group
// --------------------------------------------------

// base class
.display-group {
  background-color: $duke-white;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 0 10px;

  &:not(.no-border) {
    @include light-rounded-border;
  }

  &.active {
    box-shadow: 0 0 3px $duke-blue-link-light;
  }

  .display-label {
    float: none;
    clear: both;
    font-size: 1.2em;
    padding: 5px;
    margin: 0;
    color: #fff;
    background-color: #c1c1c1;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

  // labeling of elements within a Display Group
  .data-label,
  .input label,
  div.radio-switch > label {
    width: 100%;
    padding: 5px 1px 6px;
    text-shadow: none;
    //font-weight: normal;
    color: $duke-coal;
  }

  // if the element is not an input we add a bottom border and make adjustments in padding and
  // margin so that the element remains consistent with input labels
  .data-label {
    border-bottom: 1px solid #ececec;
    padding: 5px 1px 10px;
    margin-bottom: 0;
  }

  // picking up the form-control style and applying it to non-input elements that display data
  // as well as the radio buttons inside of the legacy Radio Switch control
  .data,
  div.radio-switch fieldset {
    @extend .form-control;
    background-color: transparent;
    height: auto;
    min-height: 34px;
    border: none;
    box-shadow: none;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  @include clearfix();
  &:after {
  }
  .form-control-static {
    h3, h4 {
      margin-top: 0;
      margin-bottom: 0;
      width: auto;
    }
  }
  .table {
    margin-bottom: -10px;
  }
}

//
// Radio Switch
// -----------------------------------------------------

// killing the radio switch
div.radio-switch {
  width:100%;
  float:left;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;

  // styling the input labels within the control
  fieldset {
    label {
      padding-left: 4px;
      padding-right: 8px;
    }
  }
}

//
// Navbar Styles
// -----------------------------------------------------

// top of page nav
.navbar-default {
  &.navbar-primary {
    background-color: lighten($steel-blue, 15%);
    //@include gradient-vertical(lighten($steel-blue, 15%), $steel-blue);
    .info-text {
      line-height: 48px;
      color: #eeeeee;
    }
  }

  &.navbar-secondary {
    @include gradient-vertical($steel-blue, darken($steel-blue, 10%));
  }
}

// footer of page nav
.navbar-secondary {
  min-height: 40px;
  color: lighten($steel-blue, 40%);
  .application-name,
  .account-tools {
    box-sizing: border-box;
    min-height: 40px;
    padding: 5px;
    .btn-sm {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .application-name {
    line-height: 28px;
  }
}

// the container for the logo at top of page
.navbar-header {
  .navbar-brand {
    display: block;
    content: ' ';
    height: 100%;
    width: auto;
    background: url(../img/brand/duke-shield.png) 10px 50% no-repeat;
    padding-left: 50px;
  }
}

//
// Sidebar Styles
// -----------------------------------------------------

.sidebar {
  @include gradient-horizontal(darken($steel-blue, 5%), lighten($steel-blue, 5%));
  background-color: lighten($steel-blue, 10%);
  a {
    color: lighten($steel-blue, 50%);
    transition: all 0.5s;
    &:hover,
    &:focus {
      color: lighten($steel-blue, 30%);
    }
  }

//
// Nav Styles within the Sidebar
// -----------------------------------------------------

  // on the ul
  > .nav {
    > li {

      // first level links
      > a {

        // which have toggleable children
        &.dropdown-toggle {
          &:after {
            @include font-awesome-icon-after();
            display: block;
            float: right;
            content: '\f0c9';
          }
        }

        // hover and focus
        &:focus,
        &:hover,
        &:focus:hover {
            background-color: lighten($steel-blue, 30%);
            color: darken($steel-blue, 30%);
          }

        // add icon style to before
        &:before {
          @include font-awesome-icon-before();
          min-width: 18px;
        }
      }
      // specify icons
      //Core
      &.dashboard > a:before { content: '\f0e4';}
      &.styles > a:before { content: '\f1fc';}
      &.reports > a:before {content: '\f080';}
      //CPS
      &.placements > a:before { content: '\f0fa';}
      &.packages > a:before { content: '\f07c';}
      &.canvassing > a:before { content: '\f0b1';}
      &.student-data > a:before { content: '\f0c0';}
      &.resources > a:before { content: '\f0f8';}
      &.reports > a:before { content: '\f080';}
      &.administration > a:before, &.settings > a:before { content: '\f013';}
      &.contractual > a:before { content: '\f0e3';}
      //TAMS
      &.course-catalog > a:before { content: '\f1c0';}
      &.master-course-listing > a:before { content: '\f0cb';}
      &.sections-offered > a:before { content: '\f096';}
      &.section-assignments > a:before { content: '\f046';}
      &.faculty > a:before { content: '\f19d';}
      &.teaching-effort > a:before { content: '\f200';}
      &.admin > a:before { content: '\f013';}
      &.users > a:before { content: '\f007';}
      //Inventory System
      &.purchases > a:before { content: '\f155';}
      &.inventory > a:before { content: '\f03a';}
      &.my-assets > a:before { content: '\f108';}
      &.users > a:before { content: '\f0c0';}
      &.add-user > a:before { content: '\f234';}
      //Faculty Recruitment System
      &.openings > a:before { content: '\f07c';}
      &.positions > a:before, &.archive > a:before { content: '\f187';}
      &.applicants > a:before { content: '\f007';}
      &.applications > a:before, &.file > a:before { content: '\f15c';}
      &.worksheet-fields > a:before { content: '\f03a';}

      // when opened
      &.open {
        > ul.dropdown-menu {
          position: relative;
          display: block;
          width: 100%;
          box-sizing: border-box;
          border-radius: 0;
          padding: 0;
          margin: 0;
          border: none;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        > a {
          background-color: lighten($steel-blue, 15%);
          color: lighten($steel-blue, 70%);
        }
      }

      // the child menus
      > ul.dropdown-menu {
        background-color: lighten($steel-blue, 5%);
        > li {

          //child menu links
          > a {
            color: lighten($steel-blue, 40%);
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 40px;
            border-bottom: 1px solid lighten($steel-blue, 10%);
            // when hovered, focused
            &:hover:focus,
            &:focus,
            &:hover {
              background-color: #ffffff;
              color: lighten($steel-blue, 30%);
            }
          }
          &:last-child {
            // the last link in a child menu
            > a {
              border-bottom: none;
            }
          }

          // a child item which is active
          &.active a {
            color: $steel-blue;
          }
        }
      }

      // clearfix after the top level list items
      &:after {
        clear: both;
        float: none;
        content: '';
        display: block;
      }
    }
  }
}

//
// Statuses
// -----------------------------------------------------

// styling of status rows within tables
.table > tbody > tr > td {
  &.status-incomplete,
  &.status-complete,
  &.status-warn,
  &.status-good,
  &.status-none,
  &.status-no-site,
  &.status-attachment-a,
  &.status-verbal-commitment,
  &.status-signed,
  &.status-over-allocated,
  &.status-under-allocated,
  &.status-initiated,
  &.status-satisfied,
  &.status-signed {

    &:before {
      @include font-awesome-icon-before;
      content: '\f111';
    }
  }

  &.status-incomplete,
  &.status-initiated,
  &.status-under-allocated,
  &.status-verbal-commitment {
    &:before {
      color: darken($duke-cadmium-yellow, 5%);
    }
  }
  &.status-warn,
  &.status-over-allocated{
    &:before {
      color: lighten($duke-red, 15%);
    }
  }
  &.status-good,
  &.status-satisfied,
  &.status-complete,
  &.status-attachment-a,
  &.status-signed {
    &:before {
      color: $duke-lime;
    }
  }
  &.status-none,
  &.status-no-site{
    &:before {
      color: $duke-whisp;
    }
  }

  &.status-not-needed {
    background-color: lighten($duke-whisp, 5%);
    color: lighten($duke-black,30%);
    a {
      color: inherit;
    }
    &:hover {
      background-color: lighten($duke-whisp,10%);
    }
  }

  &.status-needed {
    background-color: lighten($duke-lime,5%);
    transition: background-color 0.5s;
    a {
      color: inherit;
    }
    &:hover {
      background-color: lighten($duke-lime, 10%);
    }
  }

  &.status-overdue {
    background-color: $duke-cadmium-yellow;
    transition: background-color 0.5s;
    a {
      color: inherit;
    }
    &:hover {
      background-color: lighten($duke-cadmium-yellow, 5%);
    }
  }

  &.status-urgent {
    transition: background-color 0.5s;
    background-color: lighten($duke-red,20%);
    color: $duke-white;
    a {
      color: inherit;
    }
    &:hover {
      background-color: lighten($duke-red,25%);
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > td {
  &.status-not-needed {
    background-color: $duke-whisp;
    color: lighten($duke-black,20%);
    &:hover {
      background-color: lighten($duke-whisp, 5%);
    }
  }
  &.status-needed {
    background-color: $duke-lime;
    &:hover {
      background-color: lighten($duke-lime, 5%);
    }
  }
  &.status-overdue {
    background-color: darken($duke-cadmium-yellow, 5%);
    &:hover {
      background-color: $duke-cadmium-yellow;
    }
  }
  &.status-urgent {
    background-color: lighten($duke-red,15%);
    color: $duke-white;
    &:hover {
      background-color: lighten($duke-red, 20%);
    }
  }
}

//
// Status labels used in tables where the status class is on the table
// Status labels in pseudo tables as well - places where we are using divs to display tabular data which is multi-dimensional
// -----------------------------------------------------


table.table-striped tbody tr,
div {

  &.status-not-needed {
    td, div {
      .label {
        background-color: $duke-whisp;
        color: lighten($duke-black,20%);
        font-weight: 300;
        &:hover {
          background-color: lighten($duke-whisp, 5%);
        }
      }
    }
  }

  &.status-needed {
    td, div {
      .label {
        background-color: $duke-lime;
        font-weight: 300;
        &:hover {
          background-color: lighten($duke-lime, 5%);
        }
      }
    }
  }


  &.status-overdue {
    td, div {
      .label {
        background-color: darken($duke-cadmium-yellow, 5%);
        font-weight: 300;
        &:hover {
          background-color: $duke-cadmium-yellow;
        }
      }
    }
  }

  &.status-urgent {
    td, div {
      .label {
        background-color: lighten($duke-red,15%);
        color: $duke-white;
        font-weight: 300;
        &:hover {
          background-color: lighten($duke-red, 20%);
        }
      }
    }
  }
}



.status-incomplete,
.status-complete,
.status-warn,
.status-good,
.status-none {
  &:before {
    @include font-awesome-icon-before;
    content: '\f111';
  }

}
.status-incomplete {
  &:before {
    color: darken($duke-cadmium-yellow, 5%);
  }
}
.status-warn {
  &:before {
    color: lighten($duke-red, 15%);
  }
}
.status-good,
.status-complete,
.status-signed {
  &:before {
    color: $duke-lime;
  }
}
.status-none {
  &:before {
    color: $duke-whisp;
  }
}

// styling of status fields when simply rendered

div.status {
  &:before{
    @include font-awesome-icon-before;
    content: '\f111';
  }

  &.status-needed {
    &:before {
      color: $duke-lime;
    }
  }

  &.status-overdue {
    &:before {
      color: darken($duke-cadmium-yellow, 5%);
    }
  }

  &.status-urgent {
    &:before {
      color: lighten($duke-red, 15%);
    }
  }

  &.status-not-needed {
    &:before {
      color: $duke-whisp;
    }
  }

}

//
// FilterHelper
// -----------------------------------------------------
.filter-controls {
  text-align:right;
  margin-top: auto;
  margin-right: auto;
}
.well .filter-controls {
  margin-top: -15px;
  margin-right: -15px;
}
.filtering {
  display: block;
  .buttons {
    .submit {
      float: left;
      margin-top: 23px;
      margin-left: 8px;
    }
    @include clearfix();
  }
  &.closed {
    display: none;
  }
}


//
// Error Stuff
// -----------------------------------------------------

body > pre {
  margin-left: 16.66667%;
}


//
// Font Awesome Mods
// -----------------------------------------------------

.fa-cog {
  &:hover {
    cursor: pointer;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}

.fa-plus-circle, .fa-minus-circle, .fa-download {
  color: #333333;
  &:hover {
    cursor: pointer;
    color: $duke-blue-link-light;
  }
}

.fa-times-circle {
  &:hover {
    cursor: pointer;
    color: $duke-red;
  }
}

.fa-times {
  color: $duke-ash;
  &:hover {
    cursor: pointer;
    color: $duke-black;
  }
}

//
// Font Awesome Piggy Backs
// -----------------------------------------------------

.mode-on-campus:before {
  content: '\f19c'; //fa-institution
  color: $duke-cerrulean-medium;
}

.mode-on-line:before {
  content: '\f109'; //fa-laptop
  color: $duke-pea;
}

.mode-distance-based:before {
  content: '\f124'; //fa-location-arrow
  color: $duke-rust;
}

//
// Angular Filter Areas
// -----------------------------------------------------

.angular-filtering {
  box-sizing: border-box;
  width: 100%;
  float:left;
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  @include clearfix();
  @include sheet-metal();
  border-radius: 4px;

  label {
    color: $duke-coal;
    font-weight: 500;
    &.wraps-control {
      margin-top: 24px;
    }
  }

  button[name*=resetButton] {
    margin-top: 24px;
    clear:right;
  }

  &.inline-controls {
    padding-bottom: 5px;

    > div {
      &[class^="col-xs-"]{
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    button[name*=resetButton] {
      margin-top: 0;
    }
  }
}

button.btn-filtering {
  margin-top:24px;
}

form {
  button.btn {
    //margin: 10px 10px 0;
  }
}

.filtering form,
.workflow-actions form {
  button.btn {
    margin: 0 auto;
  }
}
//
// Theme Stuff
// -----------------------------------------------------

.application-name {
  &:before {
    @include font-awesome-icon-before;
    content: '\f0c9';
  }
}

.navbar-secondary .navbar-left {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {

        display: block;
        margin: 4px 0;
        padding: 4px;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
          background-color: $duke-blue-link-light;
          color: $duke-white;
        }
      }
    }
  }
}

//
// Form Modifications
// -----------------------------------------------------

@include duson-placeholder {
  color: $duke-smoke;
  font-style: italic;
}

//
// Bootstrap Layout Modifications
// -----------------------------------------------------

.panel-heading {
  &.large {
    background-color: #e3e3e3;
    border-color: #ddd;
    font-size: 1.2em;
  }
  h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
  }
}

.panel-body {
  p:last-child {
    margin: 0;
  }
}

//
// Underline Style
// -----------------------------------------------------

h1, h2, h3, h4, h5 {
  &.underline {
    border-bottom: 1px solid $duke-smoke;
  }
}

//
// Pagination
// -----------------------------------------------------

.paging {
  @extend .pagination;
  span {
    &.prev {

    }
    &.next {

    }
    &.current {

    }

    a {

    }
  }
}

//
// Sorting
// -----------------------------------------------------

.sort-control {
  cursor: pointer;
  label {
    cursor: pointer;
  }

  &:after {
    color: $duke-whisp;
    @include font-awesome-icon-after;
    content: '\f0dc';
    width: 10px;
  }

  &:hover:after {
    color: $duke-coal;
    content: '\f15d'; //f162
  }

  &.sorted {
    
    &.first {
      background-color: lighten($duke-cadmium-yellow,10%);
    }
  
    &.second {
      background-color: lighten($duke-cadmium-yellow,20%);
    }
  
    &.third {
      background-color: lighten($duke-cadmium-yellow,25%);
    }
  }

  &.sorted:after {
    color: inherit;
    content: '\f15d';
  }

  &.sorted:hover:after {
    color: $duke-blue-link;
    content: '\f15e';
  }

  &.sorted.reverse:after {
    color: inherit;
    content: '\f15e';
  }

  &.sorted.reverse:hover:after {
    color: $duke-blue-link;
    content: '\f15d';
  }

  &.numeric:hover:after {
    content: '\f162';
  }

  &.numeric.sorted:after {
    content: '\f162';
  }

  &.numeric.sorted:hover:after {
    content: '\f163';
  }

  &.numeric.sorted.reverse:after {
    content: '\f163';
  }

  &.numeric.sorted.reverse:hover:after {
    content: '\f162';
  }
}

.pseudo-table > .pseudo-tbody > div:nth-child(odd) {
  .col.sorted {
    &.first {
      background-color: $duke-sorted-odd;
    }
    &.second {
      background-color: lighten($duke-sorted-odd, 5%);
    }
    &.third {
      background-color: lighten($duke-sorted-odd, 10%);
    }
  }
}
.pseudo-table > .pseudo-tbody > div:nth-child(even) {
  .col.sorted {
    &.first {
      background-color: $duke-sorted;
    }
    &.second {
      background-color: lighten($duke-sorted, 5%);
    }
    &.third {
      background-color: lighten($duke-sorted, 10%);
    }
  }
}

//
// Cake Native Sorting
// -----------------------------------------------------

thead.sorting {
  th a {
    &:after {
      color: $duke-whisp;
      @include font-awesome-icon-after;
      content: '\f0dc';
      width: 10px;
    }

    &:hover:after {
      color: $duke-coal;
      content: '\f15d'; //f162
    }

    &.asc:after {
      color: inherit;
      content: '\f15d';
    }

    &.asc:hover:after {
      color: $duke-blue-link;
      content: '\f15e';
    }

    &.desc:after {
      color: inherit;
      content: '\f15e'; //f163
    }

    &.desc:hover:after {
      color: $duke-blue-link;
      content: '\f15d';
    }
  }
}


//
// New Window Links
// -----------------------------------------------------

a[target=_blank]:not(.with-icon):after {
  @include font-awesome-icon-after;
  content: '\f08e';
}

.popover {

  .popover-content {
    font-size: 1.5rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .popover-title {
    display: none;
  }
}

.specialties .label {
  float: right;
  margin: 0 0 5px 5px;
}

//
// Pseudo Tables
// -----------------------------------------------------

.pseudo-table {
  > .pseudo-thead {
    font-weight: bold;
    > div {
      border-top:0;
      vertical-align: bottom;
      border-bottom: 2px solid #dddddd;

      line-height: 1.42857;
      text-align: left;

      > div.flex-row {
        @include flex-container();
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;

        > div {
          padding: 8px;
          flex-grow: 1;
          width:12%;
          &.col-xs-1-5 {
            flex-grow: 0.5;
            width: 6%;
          }
          &.col-xs-2 {
            flex-grow: 2;
            width: 24%;
          }
          &.col-xs-3 {
            flex-grow: 3;
            width: 36%;
          }
        }
      }
    }
  }
  > .pseudo-tbody {

    > div {

        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
      >div {
        > div {
          padding: 8px;
          line-height: 1.42857;
          vertical-align: top;
          border-top: 1px solid #DDDDDD;
        }
        &.flex-row {
          @include flex-container();
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: stretch;
          > div {
            flex-grow: 1;
            width:12%;
            &.col-xs-1-5 {
              flex-grow: 0.5;
              width: 6%;
            }
            &.col-xs-2 {
              flex-grow: 2;
              width: 24%;
            }
            &.col-xs-3 {
              flex-grow: 3;
              width: 36%;
            }
          }
        }
        &.nested-row {
          margin: 10px;
          border-radius: 10px;
          border-color: $duke-whisp;

          border-width: 1px;
          border-style: solid;
          &:nth-child(even) {
          }
          > div {
            border-top: none;
          }
          @include sheet-metal-blue;
          color: $duke-ash;
        }
      }
    }
  }
}

//
// Modals
// -----------------------------------------------------

.modal-header {
  h2 {
    margin-top: 5px;
  }
  .modal-close-control {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 21px;
  }
}

//
// Flags
// -----------------------------------------------------
.flagged i:not(.column-label) {
  color: $duke-orange;
  cursor: pointer;
}

//
// Alerts
// -----------------------------------------------------

.inline-alert {
  .alert {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    float: left;
  }
}

//
// Chips
// -----------------------------------------------------

.chip {
  padding: 7px 12px;
  background-color: $duke-white;
  @include light-rounded-border;
  &.selected {
    color: $duke-white;
    background-color: $duke-lime;
  }
}

//
// Form Validation Stuff
// -----------------------------------------------------
form:not(.ignore-dirty) {
  &.ng-dirty {
    > .display-group {
      &:not(.ignore-dirty) {
        background-color: $state-warning-bg;
      }
    }
  }
  &.ng-invalid.ng-dirty {
    > .display-group {
      &:not(.ignore-dirty) {
        background-color: inherit;
        border-color: $state-danger-border;
      }
    }
  }
}

button.form-control-button {
  margin-top: 35px;
}

form .form-group.is-required label {
  &:after {
    @include font-awesome-icon-after;
    font-weight: normal;
    content: '\f069';
  }
}

form .warning {
  display:none;
  padding: 4px;
  text-align: center;
  color: $state-danger-text;
}

form .input-group {
  width: 100%;
  select {
    text-indent: 6px;
  }
  .input-group-addon-10 {
    @extend .input-group-addon;
    width: 10%;
  }
  .input-group-addon-20 {
    @extend .input-group-addon;
    width: 20%;
  }
  .input-group-addon-30 {
    @extend .input-group-addon;
    width: 30%;
  }
}

form .form-group.has-warning,
form .input-group.has-warning{
  label {
    color: $state-danger-text;
  }
  input, select, textarea, .form-control {
    color: $state-danger-text;
    border-color: $state-danger-border;
  }
  .form-control:focus {
    @include form-control-focus($state-danger-border);
  }
  .warning {
    display:block;
  }
  .input-group-addon,
  .input-group-btn .btn-default {
    color: $state-danger-text;
    border-color: $state-danger-text;
    background-color: $state-danger-bg;
  }
}

//
// Make JQuery Tabs look like Bootstrap Tabs
// -----------------------------------------------------

.nav-tabs > li.ui-state-active a {
  color: $nav-tabs-active-link-hover-color;
  background-color: $nav-tabs-active-link-hover-bg;
  border: 1px solid $nav-tabs-active-link-hover-border-color;
  border-bottom-color: transparent;
  cursor: default;
}
.ui-tabs .ui-tabs-panel {
  margin-top: 10px;
}

///
// Checkbox
// -----------------------------------------------------

.input.checkbox {
  margin-top: 35px;
  margin-left: 0px;
  input[type="checkbox"] {
    margin-left: 0px;
    margin-top: 0px;
  }
  label {
    padding-left: 20px;
  }
}

//
// Faculty Picker Widget
// -----------------------------------------------------


.widget {
  &.picker {
    position: fixed;
    display: block;
    right: 0;
    top: 0px;
    z-index: 1000;
    bottom: 0;
    min-height: 100%;
    max-height: 100%;
    padding: 150px 15px 70px 15px;
    width: 22%;
    transition: padding 0.5s, height 1s;
    &.faculty {
      .widget-heading {
        text-transform: uppercase;
        padding: 5px 0;
        text-align: center;
        height: 35px;
        font-size: 1.5em;
        background-color: $duke-smoke;
        @include light-rounded-border;
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .available-faculty {
        ::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }
        height: auto;
        max-height: calc(100% - 166px);
        overflow-y: scroll;
        margin-bottom: 10px;
        @include light-rounded-border;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transition: height 1s;
        .faculty-member {
          &.no-points-remaining {
            background-color: $alert-success-bg;
            color: $alert-success-text;
            &.selected {
              background-color: darken($duke-cadmium-yellow, 20%);
            }
          }
          &.over-allocated {
            background-color: $alert-danger-bg;
            color: $alert-danger-text;
            &.selected {
              background-color: darken($duke-cadmium-yellow, 20%);
            }
          }
        }
        p {
          text-align: center;
          img {
            margin-top: 7px;
            max-width: 25px;
            height: auto;
          }
          &.alert {
            margin-bottom: 0;
          }
        }
        .loading-wrapper {
          text-align: center;
          padding: 10px 0;
        }
        .search-box-container {
          background-color: $duke-heather;
          padding: 5px;
        }
      }
      .actions {
        height: 35px;
      }
      .key {
        height: 76px;
        .key-heading {
          text-transform: uppercase;

        }
      }
    }
  }

}

.badge {
  &.primary-program {
    background-color: $duke-lime;
  }
  &.previous-points {
    background-color: $duke-cerrulean-light;
  }
  &.preference-weight {
    background-color: $duke-orange;
  }
  &.badge-warning {
    background-color: $duke-orange;
  }
  &.badge-error {
    background-color: $duke-red;
  }
}

//
// Animations
// -----------------------------------------------------

.animate-repeat {
  &.ng-move,
  &.ng-enter,
  &.ng-leave {
    opacity: 0;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter {
    opacity: 0;
    max-height: 0;
  }
  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active {
    opacity: 0.5;
    max-height: 40px;
  }
  &.animate-fast {
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
    }
  }
  &.animate-slow {
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      -webkit-transition: all linear 1s;
      transition: all linear 1s;
    }
  }
  &.assignment {
    input.ng-hide-add-active {
      display: none;
    }
  }
}

//
// Spacing Styles
// -----------------------------------------------------

.h3-margin-top {
  margin-top: 20px;
  line-height: 1.4;
}

//
// Toastr Overrides
// -----------------------------------------------------

#toast-container {
  &.toast-bottom-right {
    bottom: 50px;
  }
}

//
// Filtered Results
// -----------------------------------------------------

p.no-records {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: $border-radius-small;
  background-color: $state-info-bg;
  padding: $padding-base-vertical $padding-base-horizontal;
  border: 1px solid $state-info-border;
  color: $state-info-text;
}

//
// Collapse Directive from ui-bootstrap
// -----------------------------------------------------

//for the element that is being used as the trigger
.collapse-trigger {
  cursor: pointer;
  &:before {
    @include font-awesome-icon-before;
    content: '\f152';
    transition: all 0.5s;
    color: $duke-ash;
  }
  &.not-collapsed {
    &:before {
    transition: all 0.5s;
    transform: rotate(90deg);
    }
  }
}

//
// Vertical Column Spacing for the Style Guide
// -----------------------------------------------------

.vertical-col-spacing {
  .col-md-3, .col-md-1 {
    padding-bottom: 8px;
  }
}


//
// Tooltip

.tooltip.customClass .tooltip-inner {
  color: #3a3e5c;
  background-color: #e3e3e3;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  width: 100% !important;
  text-align: left;
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
  display: none;
}

//
// Toggle Switch
// -----------------------------------------------------

.rocker-switch {
  position: relative;
  height: 26px;
  width: 100px;
  background-color: $duke-smoke;
  border: 1px solid #e3e3e3;
  padding: 2px;
  border-radius: 4px;
  transition: all 0.25s;
  .switch-off-zone,
  .switch-on-zone {
    text-align: center;
    color: $duke-smoke;
    height:26px;
    width: 50px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
    cursor: pointer;
  }
  .switch-off-zone {
    border-radius: 4px 0 0 4px;
  }
  .switch-on-zone {
    border-radius: 0 4px 4px 0;
    left: auto;
    right: 0;
  }
  .switch {
    background: $duke-white;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    position: absolute;
    left: 25%;
    width: 50px;
    height:20px;
    z-index: 100;
    transition: all 0.25s;
  }
  &.off {
    background-color: $duke-orange;

    .switch-on-zone {
      color: white;
      text-shadow: 0 0 3px rgba(0,0,0,0.8);
    }
    .switch {
      left: 2px;
    }
  }
  &.on {
    background-color: $duke-pea;
    .switch-off-zone {
      color: white;
      text-shadow: 0 0 3px rgba(0,0,0,0.8);
    }
    .switch {
      left: 46px;
    }
  }
}

//
// Collapsible Widgets
// -----------------------------------------------------

.collapsible-trigger {
  cursor: pointer;
  &:before {
    @include font-awesome-icon-before;
    content: '\f0c9';
    transition: all 0.5s;
    transform: scaleY(0.5);
  }
  &.target-not-collapsed {
    &:before {
      transform: scaleY(1.0);
      //content: '\f147';
      //transform: rotate(90deg);
    }
  }
}

//
// asSortable Stuff
// -----------------------------------------------------

.as-sortable-placeholder {
  background-color: $duke-whisp;
}


//
// Retain Formatting
// -----------------------------------------------------

.pre {
  white-space: pre;
}

//
// messages within a form
// -----------------------------------------------------

.message {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  display: block;
  float: none;
  clear: both;
  box-sizing: border-box;
  padding: $padding-small-vertical $padding-small-horizontal;
  border-radius: $border-radius-base;
  &.add-label-spacing {
    margin-top: 26px;
  }
  .has-success & {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  }
  .has-error & {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  }
  .has-warning & {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  }
}

//
// Item Groups - useful way of putting actions on the left of a group
// -----------------------------------------------------

.item-group  {
  display: table;
  position: relative;
  border-collapse: separate;
  margin-bottom: 3px;
  background-color: $well-bg;
  @include light-rounded-border;
  border-radius: $border-radius-base;

  .item-group-actions {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    box-sizing: border-box;

    i {
      cursor: pointer;
      color: $duke-smoke;
      &:hover {
        color: $duke-coal;
      }
    }

    .pin-top-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .pin-top {
      position: absolute;
      top: 5px;
    }
    .pin-bottom {
      position: absolute;
      bottom: 5px;
    }
  }

  .item-group-contents {
    display: table-cell;
    z-index: 2;
    width: 100%;
    float: left;
    padding: 6px 12px;
    margin-bottom: 0;
    @include light-rounded-border;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0 $border-radius-base $border-radius-base 0;
    background-color: $duke-white;
    &.single-row {
      .form-group {
        margin-bottom: 0;
      }
      .checkbox {
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

//
// UI Grid
// -----------------------------------------------------

.full-page-grid {
  width: 100%;
}
.ui-grid .ui-grid-menu-button {
  height: 30px;
  padding-left: 2px;
  background-color: $duke-ash;
  border-color: $duke-smoke;
}

.ui-grid [class^="ui-grid-icon-menu"]:before, [class*=" ui-grid-icon-menu"]:before {
  font-family: "FontAwesome";
  color: white;
  content: '\f013';
}

.ui-grid-grid-footer {
  position: relative;
  overflow: hidden;
  background: #f3f3f3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  -webkit-border-top-right-radius: -1px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: -1px;
  -moz-border-radius-topright: -1px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: -1px;
  border-top-right-radius: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: -1px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
}

//
// Bootstrap Panel Additions
// -----------------------------------------------------

.panel {
  .panel-body {
    .listing {
      .row {
        padding: 4px 0;
        &:nth-child(2n-1) {
          background-color: $duke-whisp;
        }
      }
    }
  }
}

//
// Boostrap Form Control Modifications
// -----------------------------------------------------

.checkbox.add-label-spacing {
  margin-top: 28px;
  label {
    font-weight: bold;
  }
}
// use when a button is in a row with other labeled controls to align the button with the controls
button.add-label-spacing {
  margin-top: 25px;
  label {
    font-weight: bold;
  }
}

//
// Clickable
// -----------------------------------------------------

.clickable, .clickable td {
  cursor: pointer;
}

//
// Override Glyphicons
// -----------------------------------------------------

.glyphicon {

  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  //the chevrons are used by the ui-bootstrap datepicker widget
  &.glyphicon-chevron-right {
    &:before {
      content: '\f054';
    }
  }

  &.glyphicon-chevron-left {
    &:before {
      content: '\f053';
    }

  }
}



// CONTAINER MODIFICATION ACCOUNTING FOR SIDE NAV OF 200 PX

@media (min-width: 768px) {
  .container-fluid {
    .container {
      width: 600px;
    }
  }
}
@media (min-width: 992px) {
  .container-fluid {
    .container {
      width: 820px;
    }
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    .container {
      width: 1020px;
    }
  }
}

// REPORT TABLE OVERRIDES

.report-tbl
  tfoot {
    background-color: #fafafa;
    color: #000;
  }
  thead {
    font-weight: bold;
    background-color: $duke-whisp;
  }



