// Duke Palette

$duke-white: #ffffff;

// Greys
$duke-gray-light: #f3f3f3;

// Blue
$duke-powder-blue: #d7eaff;
$duke-blue-link-light: #0e99f0;
$duke-blue-link: #0e80e5;
$duke-blue-dark-link: #3e5792;
$duke-blue-light: #2338a8;
$duke-blue: #112149;
$duke-son-blue: #001a6e;
$duke-blue-gradient-light: #0b1b47;
$duke-blue-gradient-dark: #030c2f;

// Other Colors
$duke-lime: #b9e144;
$duke-orange: #e38600;
$duke-red: #ba2800;
$duke-son-topbar: #051c6b;

// Official Duke Palette
$duke-blue: #001A57; //PMS 288
$duke-blue-light: #0736A4; //PMS 287
$duke-cerrulean-dark: #003366; //PMS 294
$duke-cerrulean-medium: #235F9C; //PMS 3015
$duke-cerrulean-light: #0680CD; //PMS 3005
$duke-pea: #728302; //PMS 392
$duke-lime: #A1B70D; //PMS 390
$duke-parchment: #EBF0CC; //PMS 5807
$duke-neon-green: #CBEA60; //PMS 389
$duke-sage: #BED1A1; //PMS 7494
$duke-frost-green: #E5EDDC; //PMS 559
$duke-rust: #D75404; //PMS 166
$duke-red: #CC3300; //PMS 1805
$duke-brown: #7B4500; //PMS 1535
$duke-orange: #F09905; //PMS 157
$duke-cadmium-yellow: #FFD960; //PMS 123
$duke-custard: #F6EAB8; //PMS 460
$duke-heather: #F7F3E2; //PMS 7499
$duke-seafoam: #CFEDED; //PMS 317
$duke-purple: #4D005E; //PMS 2617
$duke-taupe: #988675; //PMS 7531
$duke-taupe-light: #DAD0C6; //PMS 7529
$duke-taupe-lightest: #E8E5E2; //PMS 7527
$duke-black: #262626; //PMS Black 3
$duke-coal: #333333;
$duke-ash: #666666; //PMS Cool Gray 11
$duke-smoke: #B5B5B5; //PMS Cool Gray 7
$duke-whisp: #E5E5E5; //PMS Gool Gray 3


// Template Colors
$duke-topbar-from: #082fb4;
$duke-topbar-to: #051c6b;
$steel-blue: #26293d;
$duke-sorted: #d8eeff;
$duke-sorted-odd: darken($duke-sorted, 5%);
$true-green: #07a300;
$false-red: #ba000c;
