.panel.panel-default
    .panel-heading
        .panel-body
            p
                span The Disability Management System (DMS) is the office at Duke charged with
                | the responsibility of working with qualified applicants and employees with
                | disabilities in exploring possible coverage and associated necessary and
                | appropriate accommodations for purposes of Section 504 of the Federal
                | Rehabilitation Act of 1973, the Americans with Disabilities Act (ADA) of 1990
                | and the ADA Amendments Act of 2008.
            p
                span After submitting this form, you will be provided for information about how
                |  DMS can assist you in the application process.
