.panel.panel-default
    .panel-heading
        .panel-body
            p
                span After submitting this form, you will be provided with information about how
                |  the Duke Disability Management System (DMS) can assist you in the application
                |  process.
