.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
.vscode/
typings/
app/data/uploads/cv/*
app/data/uploads/*.*
app/data/uploads/coverLetter/*
public/modules/core/*/*.css*
public/modules/core/css/dashboard-style.css
public/modules/core/scss/dashboard-style.css
public/modules/core/scss/dashboard-style.css.map