.bower-*/
.DS_Store
.idea/
.nodemonignore
.sass-cache/
.vscode/
app/tests/coverage/
app/data/uploads/cv/*
app/data/uploads/*.*
app/data/uploads/coverLetter/*
config/env/developer-settings.js
node_modules/
npm-debug.log
src/.tmp/
src/styles/*
src/lib/
src/lib/*
src/fonts/*
report/
typings/
src/scss/*.css
src/scss/*.map