//TODO convert to du pseudo tables
navigation
section
    eoe-report-search-criteria
    eoe-report-applicants-hired(data-ng-show="vm.hired.length > 0")
    .panel.panel-info
        .panel-heading Applicants by Gender
        .panel-body
          table.table-bordered.table-striped.col-xs-12.col-md-6
            thead
              tr
                th.col-xs-8 Gender
                th.col-xs-4
                  span.pull-right Count
            tbody
              tr(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
                td.col-xs-8 {{ item.label }}
                td.col-xs-4
                  span.pull-right {{ item.count }}
              tr
                td.col-xs-8 Unknown
                td.col-xs-4
                    span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
              tr
                td.col-xs-8 TOTAL
                td.col-xs-4
                  span.pull-right {{ vm.applicationCount }}
    .panel.panel-info
        .panel-heading Hispanic Applicants
        .panel-body
          table.table-bordered.table-striped.col-xs-12
            thead
              tr
                th.col-xs-3 Ethnicity
                th.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
                  span.pull-right {{ item.label }}
                th.col-xs-1
                  span.pull-right Unknown
                th.col-xs-2
                  span.pull-right Total
            tbody
              tr(data-ng-repeat="item in vm.eoeData.byEthnicity | toArray | orderBy : 'orderBy'")
                td.col-xs-3 {{ item.label }}
                td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                  span.pull-right {{ item.counts[gender.code] }}
                td.col-xs-1
                  span.pull-right -
                td.col-xs-2
                  span.pull-right {{ item.counts.totalCount }}
             tr
                  td.col-xs-3 Unknown
                  td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                 "'orderBy'")
                    span.pull-right -
                  td.col-xs-1
                      span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                  td.col-xs-2
                      span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
             tr
                td.col-xs-3 TOTAL
                td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                  span.pull-right {{ item.count }}
                td.col-xs-1
                 span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                td.col-xs-2
                  span.pull-right {{ vm.applicationCount }}
    .panel.panel-info
        .panel-heading Applicants by Race
        .panel-body
          table.table-bordered.table-striped.col-xs-12
            thead
              tr
                th.col-xs-3 Race
                td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                  span.pull-right {{ item.label }}
                th.col-xs-1
                    span.pull-right Unknown
                th.col-xs-2
                  strong.pull-right Total
            tbody
              tr(data-ng-repeat="item in vm.eoeData.byRace | toArray | orderBy : 'orderBy'")
                td.col-xs-3 {{ item.label }}
                td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                  span.pull-right {{ item.counts[gender.code] }}
                td.col-xs-1
                        span.pull-right -
                td.col-xs-2
                  span.pull-right {{ item.counts.totalCount }}
              tr
                td.col-xs-3 Unknown
                td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                    span.pull-right -
                td.col-xs-1
                  span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                td.col-xs-2
                  span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
              tr
                  td.col-xs-3 TOTAL
                  td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                  "'orderBy'")
                      span.pull-right {{ item.count }}
                  td.col-xs-1
                    span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                  td.col-xs-2
                    span.pull-right {{ vm.applicationCount }}
    .panel.panel-info
        .panel-heading Disabled Applicants
        .panel-body
          table.table-bordered.table-striped.col-xs-12
            thead
              tr
                th.col-xs-3 Disability Status
                th.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
                  span.pull-right {{ item.label }}
                th.col-xs-1
                  span.pull-right Unknown
                th.col-xs-2
                  span.pull-right Total
            tbody
              tr(data-ng-repeat="item in vm.eoeData.byDisability | toArray | orderBy : 'orderBy'")
                td.col-xs-3 {{ item.label }}
                td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                  span.pull-right {{ item.counts[gender.code] }}
                td.col-xs-1
                  span.pull-right -
                td.col-xs-2
                  span.pull-right {{ item.counts.totalCount }}
              tr
                  td.col-xs-3 Unknown
                  td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                  "'orderBy'")
                      span.pull-right -
                  td.col-xs-1
                      span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                  td.col-xs-2
                      span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
              tr
                td.col-xs-3 TOTAL
                td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                "'orderBy'")
                    span.pull-right {{ item.count }}
                td.col-xs-1
                  span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                td.col-xs-2
                  span.pull-right {{ vm.applicationCount }}
    .panel.panel-info
        .panel-heading Applicants Identifying as Veterans
        .panel-body
          table.table-bordered.table-striped.col-xs-12
              thead
                  tr
                      th.col-xs-3 Veteran Identification
                      th.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
                          span.pull-right {{ item.label }}
                      th.col-xs-1
                        span.pull-right Unknown
                      th.col-xs-2
                          span.pull-right Total
              tbody
                  tr(ng-repeat-start="item in vm.eoeData.byVeteran | toArray | orderBy : " +
                  "'orderBy'")
                      td.col-xs-3 {{ item.label }}
                      td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
                      "'orderBy'")
                          span.pull-right {{ item.counts[gender.code] }}
                      td.col-xs-1
                          span.pull-right -
                      td.col-xs-2
                          span.pull-right {{ item.counts.totalCount }}
                  tr(ng-repeat-start="class in item.classes | toArray | orderBy : " +
                  "'orderBy'")
                      td.col-xs-3
                          span(style="padding-left:20px") {{ class.label }}
                      td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
                      "'orderBy'")
                        span.pull-right {{ class.counts[gender.code] }}
                      td.col-xs-1
                        span.pull-right -
                      td.col-xs-2
                          span.pull-right {{ class.counts.totalCount }}
                  tr(ng-repeat-end, ng-hide="true")
                  tr(ng-repeat-end, ng-hide="true")
                  tr
                    td.col-xs-3 Unknown
                    td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                    "'orderBy'")
                        span.pull-right -
                    td.col-xs-1
                        span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                    td.col-xs-2
                      span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}

                  tr
                      td.col-xs-3 TOTAL
                      td.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : " +
                      "'orderBy'")
                          span.pull-right {{ item.count }}
                      td.col-xs-1
                        span.pull-right {{ vm.applicationCount - vm.eoeData.totalCount }}
                      td.col-xs-2
                          span.pull-right {{ vm.applicationCount }}



