<section data-ng-controller="PositionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Positions</h1>
    </div>




<!--Code style of CPS-->

    <!-- TODO convert to bootstrap row syntax; consider ngGrid-->
    <table class="table table-striped ng-scope">
        <thead>
        <tr>
            <!--<th>-->
                <!--<input type="checkbox" ng-model="vm.selectAll" ng-click="vm.selectAllFilteredPlacements(vm.selectAll)" class="ng-pristine ng-untouched ng-valid">-->
            <!--</th>-->
            <!--<th class="sort-control numeric" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('Placement.id', vm.reverse)" ng-class="{sorted:(filtering.predicate == 'Placement.id'), reverse:vm.reverse}">ID</th>-->
            <th></th>
            <th>Edit</th>
            <th class="col-md-3 sort-control" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('position.name', vm.reverse)" ng-class="{sorted:(vm.filtering.predicate == 'position.name'), reverse:vm.reverse}">Position</th>
            <th class="col-md-2 sort-control" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('position.datePost', vm.reverse)" ng-class="{sorted:(vm.filtering.predicate == 'position.dateOpen'), reverse:vm.reverse}">Date Opened</th>
            <th class="col-md-2 sort-control" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('position.requester', vm.reverse)" ng-class="{sorted:(vm.filtering.predicate == 'position.searchLead.lastName'), reverse:vm.reverse}">Requester</th>
            <th class="col-md-4">Notes/Description</th>
        </tr>
        </thead>
        <tr data-ng-repeat="position in positions" class="ng-scope">
            <td><input type="checkbox" ng-model="placement.Placement.selected" class="ng-pristine ng-untouched ng-valid"></td>
            <td class="ng-binding"><a data-ng-href="#!/positions/{{position._id}}"><i class="fa fa-edit"></i></a></td>
            <td>
                <h4 class="list-group-item-heading">{{position.name}}</h4>
            </td>
            <td>
                <span class="list-group-item-text">{{position.datePost | date:'shortDate'}}</span>
            </td>
            <td class="list-group-item-text">{{position.searchLead.firstName || "TBD"}} {{position.searchLead.lastName}}
            </td>
            <td>
                <p class="list-group-item-text">{{position.details}}</p>
            </td>
            </tr>

        <!--<div class="list-group">-->
            <!--<a data-ng-repeat="position in positions" data-ng-href="#!/positions/{{position._id}}" class="list-group-item">-->
                <!--<small class="list-group-item-text">{{position.postDate | date:'medium'}} / {{position.user.displayName || "TBD"}}</small>-->
                <!--<h4 class="list-group-item-heading">{{position.name}}</h4>-->
                <!--<p class="list-group-item-text">{{position.details}}</p>-->
            <!--</a>-->
        <!--</div>-->



       <!-- end ngRepeat: placement in vm.filteredPlacements --><!-- end ngRepeat: placement in vm.filteredPlacements --></tbody><!-- end ngIf: vm.filteredPlacements.length --></table>
<!-- End code style of CPS ->


    <div class="alert alert-warning text-center" data-ng-hide="!positions.$resolved || positions.length">
    	No positions yet, why don't you <a href="/#!/positions/create">create one</a>?
    </div>



</section>