<section data-ng-controller="PositionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Positions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="position in positions" data-ng-href="#!/positions/{{position._id}}" class="list-group-item">
            <small class="list-group-item-text">{{position.created | date:'medium'}} / {{position.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{position.Position}}</h4>
            <p class="list-group-item-text">{{position.PositionDetails}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!positions.$resolved || positions.length">
    	No positions yet, why don't you <a href="/#!/positions/create">create one</a>?
    </div>
</section>