section
  navigation
  .col-xs-12(ng-if="vm.tokenValid === null")
    .alert.alert-info Validating the reset password link.
  .col-xs-12(ng-if="vm.tokenValid === false")
    .alert.alert-danger The reset password link is invalid or has expired.
  .col-xs-12(ng-if="vm.tokenValid === true")
    .alert.alert-info You can reset your account password using the form below.
    div(ng-form="vm.userForm")
      .row
        .col-md-6.form-group(ng-class="{'has-success': vm.passwordIsStrong }")
          label.control-label Password
          .input-group
            input.form-control(type="password", name="password", ng-model="vm.user.password", required)
            .input-group-addon
              i.fa.fa-key
        .col-md-6.form-group(ng-show="vm.userForm.password.$dirty", ng-class="{'has-success': vm.passwordIsStrong }")
          .add-label-spacing.message {{ vm.checkPassword() }}

      .row(ng-show="vm.passwordIsStrong")
        .col-md-6.form-group(ng-class="{'has-success': vm.passwordsMatch && vm.userForm.password.$valid}")
          label.control-label Confirm Password
          .input-group
            input.form-control(type="password", name="passwordConfirm", ng-model="vm.user.passwordConfirm", ng-required="vm.emailIsUnique")
            .input-group-addon
              i.fa.fa-key
        .col-md-6.form-group(ng-show="vm.userForm.passwordConfirm.$dirty", ng-class="{'has-success': vm.passwordsMatch && vm.userForm.password.$valid}")
          .add-label-spacing.message {{ vm.checkPasswordConfirm() }}

      .row
        .col-md-12
          button.btn.btn-login(
          ng-click="vm.resetPassword()",
          ng-disabled="!vm.userForm.password.$valid || !vm.passwordIsStrong || !vm.passwordsMatch"
          ) Change Your Password
