ng-form(name="vm.eoeDataDemographicForm")
  .row
      fieldset
      .form-group.col-xs-12
        label.control-label(for='opening') Opening
        //select#opening.form-control(ng-options="opening._id as opening.name for opening in vm.options.openings", data-ng-model='vm.eoeDataDemographic.opening', required='')
        select#opening.form-control(data-ng-model='vm.eoeDataDemographic.opening', required='')
          option(value="") --Choose an Opening--
          option(value="561410fc5a6e72be05f95c76") ABSN Psych 2016
  .col-md-3.control-group
      label(data-ng-repeat='race in vm.options.races') {{race.description}}
        input(type='checkbox', ng-model=('vm.eoeDataDemographic.race[race.code]'), checklist-value='race.description')
      fieldset
        h2 Gender
        input#female(type='radio', value='Female', ng-model='vm.eoeDataDemographic.gender')
        label Female
        input#male(type='radio', value='Male', ng-model='vm.eoeDataDemographic.gender')
        label Male
        input#decline(type='radio', value='Decline', ng-model='vm.eoeDataDemographic.gender')
        label Decline to answer
    .text-danger(data-ng-show='error')
      strong {{error}}