section
  navigation
  p(All applications)
  .col-md-12
    form.form-horizontal(novalidate='')
      fieldset
        .form-group.col-xs-12.col-md-6
          label.control-label(for='opening') Opening
          select#opening.form-control(ng-options="opening._id as opening.name for opening in vm.options.openings", ng-change="vm.extractData()", data-ng-model='vm.opening', required='')
            option(value="all") --All Openings--
  //.row
  //  .col-xs-12
  //    .angular-filtering
  //      .col-xs-12
  .container
    .panel-body
      table.table-bordered.table-striped.col-xs-12.col-md-8
        thead
          tr
            th.col-xs-8 Gender
            th.col-xs-4
              span.pull-right Count
        tbody
          tr(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
            td.col-xs-8 {{ item.label }}
            td.col-xs-4
              span.pull-right {{ item.count }}
          tr
            td.col-xs-8 TOTAL
            td.col-xs-4
              span.pull-right {{ vm.eoeData.totalCount }}
    .panel-body
      table.table-bordered.table-striped.col-xs-12.col-md-8
        thead
          tr
            th.col-xs-4 Ethnicity
            th.col-xs-2(data-ng-repeat="item in vm.eoeData.byGender | toArray | orderBy : 'orderBy'")
              span.pull-right {{ item.label }}
            th.col-xs-2
              span.pull-right Total
        tbody
          tr(data-ng-repeat="item in vm.eoeData.byEthnicity | toArray | orderBy : 'orderBy'")
            td.col-xs-4 {{ item.label }}
            td.col-xs-2(data-ng-repeat='genderCount in item.counts')
              span.pull-right {{ genderCount }}
          tr
            td.col-xs-4 TOTAL
            td.col-xs-2(data-ng-repeat='(key, value) in vm.eoeData.byGender')
              span.pull-right {{ value.count }}
            td.col-xs-2
              span.pull-right {{ vm.eoeData.totalCount }}
    div(ng-repeat="item in vm.eoeData.byRace | toArray | orderBy : 'item.orderBy'")
      .pre(ng-bind='item | json')
    .panel-body
      table.table-bordered.table-striped.col-xs-12.col-md-8
        thead
          tr
            th.col-xs-4 Race
            td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
            "'orderBy'")
              span.pull-right {{ item.label }}
            th.col-xs-2
              strong.pull-right Total
        tbody
          tr(data-ng-repeat="item in vm.eoeData.byRace | toArray | orderBy : 'orderBy'")
            td.col-xs-4 {{ item.label }}
            td.col-xs-2(data-ng-repeat='genderCount in item.counts')
              span.pull-right {{ item.counts[gender.code] }}
          tr
            td.col-xs-4 TOTAL
            td.col-xs-2(data-ng-repeat='(key, value) in vm.eoeData.byGender')
              span.pull-right {{ value.count }}
            td.col-xs-2
              span.pull-right {{ vm.eoeData.totalCount }}
    div(ng-repeat="item in vm.eoeData.byDisability | toArray | orderBy : 'item.orderBy'")
      .pre(ng-bind='item | json')
    .panel-body
      table.table-bordered.table-striped.col-xs-12.col-md-8
        thead
          tr
            th.col-xs-4 Disability Status
            eoe-report-gender-header
        tbody
          tr(data-ng-repeat="item in vm.eoeData.byDisability | toArray | orderBy : 'orderBy'")
            td.col-xs-4 {{ item.label }}
            td.col-xs-2(data-ng-repeat="gender in vm.eoeData.byGender | toArray | orderBy : " +
            "'orderBy'")
              span.pull-right {{ item.counts[gender.code] }}
            td.col-xs-2
              span.pull-right {{ item.counts.totalCount }}
          tr
            td.col-xs-4 TOTAL
            td.col-xs-2(data-ng-repeat='(key, value) in vm.eoeData.byGender')
              span.pull-right {{ value.count }}
            td.col-xs-2
              span.pull-right {{ vm.eoeData.totalCount }}
    .panel-body
      table.table-bordered.table-striped.col-xs-12.col-md-8
        thead
          tr
            th.col-xs-8 Veteran Status
            th.col-xs-4
              span.pull-right Count
        tbody
          tr(data-ng-repeat='(key, value) in vm.eoeData.byVeteran')
            td.col-xs-8 {{ value.label }}
            td.col-xs-4
              span.pull-right {{ value.count }}



