{
  "env" : {
    "node" : false,
    "browser": true
  },
  "rules": {
    "no-use-before-define": [2, "nofunc"],
    "strict": [2, "function"],
    "quotes": [1, "single"],
    "camelcase": [2, {"properties": "never"}],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-underscore-dangle": 0
  },
  "plugin": "angular",
  "globals": {
    "angular": true
  }
}