<section data-ng-controller="ApplicantsController">
    <div class="page-header">
        <h1>New Applicant</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group col-xs-2 col-md-1">
                    <label class="control-label" for="honorific">Hon.</label>
                    <div class="controls">
                        <input type="text" data-ng-model="honorific" id="honorific" class="form-control"  required>
                    </div>
                </div>

                <div class="form-group col-xs-7 col-md-4">
                    <label class="control-label" for="first-name">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstName" id="first-name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-3 col-md-2">
                    <label class="control-label" for="middle-name">Middle</label>
                    <div class="controls">
                        <input type="text" data-ng-model="middleName" id="middle-name" class="form-control" >
                    </div>
                </div>
                <div class="form-group col-xs-11 col-md-4">
                    <label class="control-label" for="last-name">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="lastName" id="last-name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-1">
                    <label class="control-label" for="suffix">Suff</label>
                    <div class="controls">
                        <input type="text" data-ng-model="suffix" id="suffix" class="form-control">
                    </div>
                </div>

                <!--<div class="form-group col-xs-12">-->
                    <!--<label class="control-label" for="position">Position</label>-->
                     <!--<div class="controls">-->
                    <!--<input type="text" data-ng-model="position" id="position" class="form-control" required>-->
                <!--</div>-->
                <div class="form-group col-xs-12">
                    <label class="control-label" for="position">Position</label>
                    <div class="controls">
                        <input type="text" data-ng-model="position" id="position" class="form-control" required>
                    </div>
                <div class="form-group col-xs-12 ">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
            </fieldset>
            <fieldset class="row">
                <h2>Contact Information</h2>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label" for="email-address">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="emailAddress" id="email-address" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label" for="phone-number">Phone</label>
                    <div class="controls">
                        <input type="text" data-ng-model="phoneNumber" id="phone-number" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label" for="address1">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="address1" id="address1" class="form-control" required>
                    </div>
                    <label class="control-label" for="address2"></label>
                    <div class="controls">
                        <input type="text" data-ng-model="address2" id="address2" class="form-control" required>
                    </div>
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" data-ng-model="city" id="city" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-4 col-md-4">
                    <label class="control-label" for="state">State</label>
                    <div class="controls">
                        <input type="text" data-ng-model="state" id="state" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label class="control-label" for="postal-code">Postal Code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="postalCode" id="postal-code" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-12">
                    <label class="control-label" for="country">Country</label>
                    <div class="controls">
                        <input type="text" data-ng-model="country" id="country" class="form-control" value="United States" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <h2>Credentials</h2>
                <label class="control-label" for="credential">Credential</label>
                <div class="controls">
                    <input type="text" data-ng-model="credential" id="credential" class="form-control" required>
                </div>
                <label class="control-label" for="institution">Institution</label>
                <div class="controls">
                    <input type="text" data-ng-model="institution" id="institution" class="form-control" required>
                </div>
                <label class="control-label" for="year">Year</label>
                <div class="controls">
                    <input type="number" data-ng-model="year" id="year" class="form-control" required>
                </div>
            </fieldset>
            <fieldset>
                <h2>Current Position</h2>
                <label class="control-label" for="position-name">Position Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="positionName" id="position-name" class="form-control" required>
                </div>
                <label class="control-label" for="institution-name">Institution</label>
                <div class="controls">
                    <input type="text" data-ng-model="institutionName" id="institution-name" class="form-control" required>
                </div>
                <label class="control-label" for="expected-completion-date">Expected Completion Date</label>
                <div class="controls">
                    <input type="date" data-ng-model="dateExpectedCompletion" id="expected-completion-date" class="form-control" required>
                </div>
             </fieldset>
            <fieldset>
                <h2>Focal Areas</h2>
                <label class="control-label" for="focal-area">Focal Area</label>
                <div class="controls">
                    <input type="text" data-ng-model="focalArea" id="focal-area" class="form-control" required>
                </div>
            </fieldset>
            <fieldset>
                <h2>Referral Source</h2>
                <label class="control-label" for="primary">Primary</label>
                <div class="controls">
                    <select data-ng-model="primary" id="primary" class="form-control" required>
                        <option>DUSON posting</option>
                        <option>Internet posting</option>
                        <option>Personal</option>
                        <option>Other</option>
                        </select>
                    </div>
                <label class="control-label" for="specific">Specific</label>
                <div class="controls">
                    <input type="text" data-ng-model="specific" id="specific" class="form-control" required>
                </div>
            </fieldset>
            <div class="form-group col-xs-12 ">
                <input type="submit" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong>{{error}}</strong>
            </div>
        </form>
    </div>
</section>