<section data-ng-controller="ApplicantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Applicants</h1>
    </div>


<!--Code style of CPS-->

    <!-- TODO convert to bootstrap row syntax; consider ngGrid-->
    <table class="table table-striped ng-scope">
        <thead>
        <tr>
            <!--<th>-->
                <!--<input type="checkbox" ng-model="vm.selectAll" ng-click="vm.selectAllFilteredPlacements(vm.selectAll)" class="ng-pristine ng-untouched ng-valid">-->
            <!--</th>-->
            <!--<th class="sort-control numeric" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('Placement.id', vm.reverse)" ng-class="{sorted:(filtering.predicate == 'Placement.id'), reverse:vm.reverse}">ID</th>-->
            <th></th>
            <th>Edit</th>
            <th class="col-md-3 sort-control" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('applicant.lastName', vm.reverse)" ng-class="{sorted:(vm.filtering.predicate == 'applicant.lastName'), reverse:vm.reverse}">Last</th>
            <th class="col-md-3 sort-control" ng-click="vm.reverse= !vm.reverse;vm.sortRecords('applicant.firstName', vm.reverse)" ng-class="{sorted:(vm.filtering.predicate == 'applicant.firstName'), reverse:vm.reverse}">First/Middle</th>
            <th class="col-md-2">Position</th>
        </tr>
        </thead>
        <tr data-ng-repeat="applicant in applicants" class="ng-scope">
            <td><input type="checkbox" ng-model="placement.Placement.selected" class="ng-pristine ng-untouched ng-valid"></td>
            <td class="ng-binding"><a data-ng-href="#!/applicants/{{applicant._id}}"><i class="fa fa-edit"></i></a></td>
            <td>
                <h4 class="list-group-item-heading">{{applicant.name.lastName}} {{applicant.name.suffix}}</h4>
            </td>
            <td>
                <h4 class="list-group-item-heading">{{applicant.name.firstName}} {{applicant.name.middleName}}</h4>
            </td>
            <td>
                <h4 class="list-group-item-heading">{{applicant.applicantPositions[0].positionName || 'TBD' }}</h4>
            </td>
        </tr>

        <!--<div class="list-group">-->
            <!--<a data-ng-repeat="applicant in applicants" data-ng-href="#!/applicants/{{applicant._id}}" class="list-group-item">-->
                <!--<small class="list-group-item-text">{{applicant.postDate | date:'medium'}} / {{applicant.user.displayName || "TBD"}}</small>-->
                <!--<h4 class="list-group-item-heading">{{applicant.name}}</h4>-->
                <!--<p class="list-group-item-text">{{applicant.details}}</p>-->
            <!--</a>-->
        <!--</div>-->



       <!-- end ngRepeat: placement in vm.filteredPlacements --><!-- end ngRepeat: placement in vm.filteredPlacements --></tbody><!-- end ngIf: vm.filteredPlacements.length --></table>
<!-- End code style of CPS ->


    <div class="alert alert-warning text-center" data-ng-hide="!applicants.$resolved || applicants.length">
    	No applicants yet, why don't you <a href="/#!/applicants/create">create one</a>?
    </div>



</section>