section
  .page-header
    h1 Applicants

  table.table.table-striped.ng-scope
    thead
      tr
        th
        th Edit
        th.col-md-3.sort-control(ng-click="vm.reverse= !vm.reverse;vm.sortRecords('applicant.lastName', vm.reverse)", ng-class="{sorted:(vm.filtering.predicate == 'applicant.lastName'), reverse:vm.reverse}") Last
        th.col-md-3.sort-control(ng-click="vm.reverse= !vm.reverse;vm.sortRecords('applicant.firstName', vm.reverse)", ng-class="{sorted:(vm.filtering.predicate == 'applicant.firstName'), reverse:vm.reverse}") First/Middle
        th.col-md-2 Position
    tr.ng-scope(data-ng-repeat='applicant in vm.applicants')
      td
        input.ng-pristine.ng-untouched.ng-valid(type='checkbox', ng-model='placement.Placement.selected')
      td.ng-binding
        a(data-ng-href='#!/applicants/{{applicant._id}}')
          i.fa.fa-edit
      td
        h4.list-group-item-heading {{applicant.name.lastName}} {{applicant.name.suffix}}
      td
        h4.list-group-item-heading {{applicant.name.firstName}} {{applicant.name.middleName}}
      td
        h4.list-group-item-heading {{applicant.applicantPositions[0].positionName || 'TBD' }}

