<section data-ng-controller="ApplicantsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{applicant.name.honorific}} {{applicant.name.firstName}} {{applicant.name.middleName}} {{applicant.name.lastName}} {{applicant.name.suffix}}
		</h1>
		<h2>
		<span class="text-muted">for</span> {{applicant.applicantPositions[0].positionName}}
		</h2>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == applicant.user._id">
		<a class="btn btn-primary" href="/#!/applicants/{{applicant._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small class="pull-right">
		<em class="text-muted">Added on {{applicant.dateCreated | date:'mediumDate'}} by {{applicant.user.displayName}}</em>
	</small>
	<!--<applicant-name></applicant-name>-->
	<div class="pull-left container">
		<div class="row">Current
			<ng-pluralize count="applicant.applicantPositions.length"
						  when="{'1': ' Position',
						 '2': ' Positions'
						 }">
			</ng-pluralize>
		</div>
		<div class="row" data-ng-repeat="position in applicant.applicantPositions">
			<div data-ng-repeat="position2 in position.positions" class="position-name strong row">
				<span><strong>{{position2.positionName}}</strong></span>
				<div data-ng-repeat="institution in position2.institutions"
					<span>{{institution.name}}</span>
				</div>
			</div>
			<div class="position-name  span3">{{position.dateExpectedCompletion !== null ? position.dateExpectedCompletion : date('12/31/2015') | date:shortDate}}
			</div>
			<div class="position-name  span3">{{position.note}}</div>
		</div>
	</div>
</section>