<div data-ng-controller="ApplicantsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{applicant.name.honorific}} {{applicant.name.firstName}} {{applicant.name.middleName}} {{applicant.name.lastName}} {{applicant.name.suffix}}
		</h1>
		<h2>
			<span class="text-muted">for</span> {{applicant.applicantPositions[0].positionName}}
		</h2>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == applicant.user._id">
		<a class="btn btn-primary" href="/#!/applicants/{{applicant._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small class="pull-right">
		<em class="text-muted">Added on {{applicant.dateCreated | date:'mediumDate'}} by {{applicant.user.displayName}}</em>
	</small>
	<!--<applicant-name></applicant-name>-->
	<div class="display-group ">
		<div><strong>Current
			<ng-pluralize count="applicant.applicantPositions.length"
						  when="{'1': ' Position',
						 '2': ' Positions'
						 }"></strong>
			</ng-pluralize>
		</div>
		<div  data-ng-repeat="position in applicant.applicantPositions" ng-init="i=position.institution">
			<span>{{position.positionName}}, </span>
			<a href="" ng-click="showme=true"><span>{{i.institutionName}}</span></a>
			<!--TODO directive-->
			<div ng-show="showme" class="display-group"  >
				<strong>Institution Info</strong>
				<span ng-click="showme=false"><i class="fa fa-times"></i></span>
				<p>{{i.city}}, {{i.state}} {{i.country}}</p>
			</div>
			<div class="position-name  span3">
				<span>Expected Completion Date: {{position.dateExpectedCompletion != null ? position.dateExpectedCompletion : date('12/31/2015') | date: 'shortDate'}}</span>
			</div>
			<div class="position-name  span3">
				<em>{{position.note}}</em>
			</div>
		</div>
	</div>
	<div class="display-group">
		<div >
			<strong>Focal
				<ng-pluralize count="applicant.focalAreas.length"
							  when="{'0': ' Areas - none specified', '1': ' Area', 'other': ' Areas'}">
				</ng-pluralize>
			</strong>
		</div>
		<div>
			<!--<ul class="bubble-list">-->
				<!--<li data-ng-repeat="focalArea in applicant.focalAreas" >{{focalArea.focalArea}}</li>-->
			<!--</ul>-->
			<div class="btn btn-default btn-xs" data-ng-repeat="focalArea in applicant.focalAreas">{{focalArea.focalArea}}</div>
		</div>
	</div>
	<div class="display-group">
		<div>
			<strong>Resume/CV</strong>
		</div>
		<!-- TODO dont need an array for this-->
		<div>
			<span><a ng-href="{{applicant.resume.link}}">View</a></span></div><span>{{applicant.resume.link}}</span>
			<p>
				<span>Upload Date: {{applicant.resume.dateUploaded | date: 'shortDate'}}</span>
			</p>
			<span><em>{{applicant.resume.note}}</em></span>
		</div>
	</div>
</div>