<div data-ng-controller="ApplicantsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{applicant.name.honorific}} {{applicant.name.firstName}} {{applicant.name.middleName}} {{applicant.name.lastName}} {{applicant.name.suffix}}
		</h1>
		<h2>
			<span class="text-muted">for</span> {{applicant.applicantPositions[0].positionName}}
		</h2>
        <p ng-show="applicant.status.confidential === true" class="confidential">Confidential</p>
		<p ng-show="applicant.status.current !== true" class="not-current">Not current applicant</p>
		<p ng-show="applicant.status.rejectionStatus.rejected === false">{{applicant.status.hiringStatus.stage}}, {{applicant.status.hiringStatus.dateStage | date:'shortDate'}}</p>
		<p ng-show="applicant.status.rejectionStatus.rejected === true">Rejected following {{applicant.status.rejectionStatus.followingStage}}, {{applicant.status.hiringStatus.dateRejection | date:'shortDate'}} </p>
		<!--<div ng-init="hStatus = applicant.status.hiringStatus">-->
			<!--<p data-ng-repeat="(key, value) in applicant.status.hiringStatus">-->
				<!--<p><span>{{key}}</span>: <span> {{ value.date }} </span></p>-->
			<!--</p>-->
		<!--</div>  //TODO I didn't figure out how to simplify and not explicitly call statuses
-->

		<!--//TODO this seems so inefficient but haven't found better way..-->
		<div ng-init="hiringStatus=applicant.status.hiringStatus">
			<p ng-show="applicant.status.hiringStatus.submitted.date"><span>Submitted</span>: <span> {{applicant.status.hiringStatus.submitted.date}} </span></p>
			<p ng-show="applicant.status.hiringStatus.submitted.note"><span>Note</span>: <span><em>{{applicant.status.hiringStatus.submitted.note}}</em></span></p>
			<p ng-show="applicant.status.hiringStatus.offered.date"><span>Offered</span>: <span> {{applicant.status.hiringStatus.offered.date}} </span></p>
			<p ng-show="applicant.status.hiringStatus.offered.note"><span>Note</span>: <span><em>{{applicant.status.hiringStatus.offered.note}}</em></span></p>
			<p ng-show="applicant.status.hiringStatus.accepted.date"><span>Accepted</span>: <span> {{applicant.status.hiringStatus.accepted.date}} </span></p>
			<p ng-show="applicant.status.hiringStatus.accepted.note"><span>Note</span>: <span><em>{{applicant.status.hiringStatus.accepted.note}}</em></span></p>
			<p ng-show="applicant.status.hiringStatus.rejected.date"><span>Rejected</span>: <span> {{applicant.status.hiringStatus.rejected.date}} </span></p>
			<p ng-show="applicant.status.hiringStatus.rejected.note"><span>Note>: <span><em>{{applicant.status.hiringStatus.rejected.note}}</em></span></p>
			<p ng-show="applicant.status.hiringStatus.start.date"><span>Start</span>: <span> {{applicant.status.hiringStatus.start.date}} </span></p>
			<p ng-show="applicant.status.hiringStatus.start.note"><span>Note</span>: <span><em>{{applicant.status.hiringStatus.start.note}}</em></span></p>
		</div>

		<!--</div>-->

	<div class="pull-right" data-ng-show="authentication.user._id == applicant.user._id">
		<a class="btn btn-primary" href="/#!/applicants/{{applicant._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small class="pull-right">
		<em class="text-muted">Added on {{applicant.dateCreated | date:'mediumDate'}} by {{applicant.user.displayName}}</em>
	</small>
	<!--<applicant-name></applicant-name>-->
	<div class="display-group ">
        <h2>Contact Information</h2>
        <div class=" ">
            <h3>Email</h3>
            <div  data-ng-repeat="email in applicant.emailAddresses">
                <span>{{email.emailAddress}}</span> <span ng-show="email.primary === true">(primary)</span>
                <span ng-show="email.note != null"><a href="" ng-click="showemailnote=true">Note</a></span>
                <div ng-show="showemailnote" class="display-group">
                    <span ng-click="showemailnote=false"><i class="fa fa-times"></i></span>
                    <p>{{email.note}}</p>
                </div>
            </div>
        </div>
        <div class=" ">
            <h3>Phone</h3>
            <div data-ng-repeat="phone in applicant.phoneNumbers">
                <span>{{phone.phoneNumber}}</span>
                <span ng-show="phone.type != null">- {{phone.type}}</span>
                <span ng-show="phone.primary === true"> (primary)</span>
                <span ng-show="phone.note != null"><a href="" ng-click="showphonenote=true">Note</a></span>
                <div ng-show="showphonenote" class="display-group">
                    <span ng-click="showphonenote=false"><i class="fa fa-times"></i></span>
                    <p>{{phone.note}}</p>
                </div>
            </div>
        </div>
        <div class=" ">
            <h3>Mailing Address<span><ng-pluralize count="applicant.addresses.length"
                                                  when="{'1': '',
						 '2': 'es'
						 }">
            </ng-pluralize></span></h3>
            <div data-ng-repeat="address in applicant.addresses">

                <span>{{address.address1}}</span><br/>
                <span>{{address.address2}}</span><br/>
                <span>{{address.city}},</span>
                <span> {{address.state}}</span>
                <span> {{address.postal_code}}</span><br/>
                <span>{{address.country}}</span><br/>
                <span ng-show="address.primary === true"> (primary)</span>
                <span ng-show="address.note != null">
				    <a href="" ng-click="showaddressnote=true">Note</a>
			    </span>
                <div ng-show="showaddressnote" class="display-group">
                    <span ng-click="showaddressnote=false"><i class="fa fa-times"></i></span>
                    <p>{{address.note}}</p>
                </div>
            </div>
        </div>
	</div>
	<div class="display-group ">
		<div><h2>Current
			<ng-pluralize count="applicant.applicantPositions.length"
						  when="{'1': ' Position',
						 '2': ' Positions'
						 }"></h2>
			</ng-pluralize>
		</div>
		<div  data-ng-repeat="position in applicant.applicantPositions" ng-init="i=position.institution">
			<span>{{position.positionName}}, </span>
			<a href="" ng-click="showme=true"><span>{{i.institutionName}}</span></a>
			<!--TODO directive-->
			<div ng-show="showme" class="display-group"  >
				<strong>Institution Info</strong>
				<span ng-click="showme=false"><i class="fa fa-times"></i></span>
				<p>{{i.city}}, {{i.state}} {{i.country}}</p>
			</div>
			<div class="position-name  span3">
				<span>Expected Completion Date: {{position.dateExpectedCompletion != null ? position.dateExpectedCompletion : date('12/31/2015') | date: 'shortDate'}}</span>
			</div>
			<div class="position-name  span3">
				<em>{{position.note}}</em>
			</div>
		</div>
	</div>
	<div class="display-group ">
		<div><h2>Credentials</h2>
		</div>
		<div  data-ng-repeat="credential in applicant.credentials">
			<span>{{credential.credential}}, </span>
			<a href="" ng-click="showme=true"><span>{{credential.institution}}</span></a>, <span>{{credential.year}}</span>
			<!--TODO directive-->
			<!--<div ng-show="showme" class="display-group"  >-->
				<!--<strong>Institution Info</strong>-->
				<!--<span ng-click="showme=false"><i class="fa fa-times"></i></span>-->
				<!--<p>{{i.city}}, {{i.state}} {{i.country}}</p>-->
			<!--</div>-->
			<div class="position-name  span3">
				<em>{{credential.note}}</em>
			</div>
		</div>
	</div>
	<div class="display-group">
		<div >
			<h2>Focal
				<ng-pluralize count="applicant.focalAreas.length"
							  when="{'0': ' Areas - none specified', '1': ' Area', 'other': ' Areas'}">
				</ng-pluralize>
			</h2>
		</div>
		<div>
			<!--<ul class="bubble-list">-->
				<!--<li data-ng-repeat="focalArea in applicant.focalAreas" >{{focalArea.focalArea}}</li>-->
			<!--</ul>-->
			<div class="btn btn-default btn-xs" data-ng-repeat="focalArea in applicant.focalAreas">{{focalArea.focalArea}}</div>
		</div>
	</div>
	<div class="display-group">
		<div>
			<h2>Resume/CV</h2>
		</div>
		<!-- TODO dont need an array for this-->
		<div>
			<span><a ng-href="{{applicant.resume.link}}">View</a></span>
			<span>[ {{applicant.resume.link}} ]</span>
			<p>
				<span>Upload Date: {{applicant.resume.dateUploaded | date: 'shortDate'}}</span>
			</p>
			<span ng-show="applicant.resume.note != null">
				<a href="" ng-click="showresumenote=true">Note</a>
			</span>
			<div ng-show="showresumenote" class="display-group">
				<span ng-click="showresumenote=false"><i class="fa fa-times"></i></span>
				<p>{{applicant.resume.note}}</p>
			</div>
		</div>
	</div>
	<div class="display-group">
		<div>
			<h2>Referral Source</h2>
		</div>
		<div>
			<p><span>{{applicant.referralSource.primary}}</span>
				<span ng-show="applicant.referralSource.specific != null"> - {{applicant.referralSource.specific}}</span>
			</p>
		</div>
	</div>
</div>