<section data-ng-controller="PositionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{position.name}}</h1>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == position.user._id">
		<a class="btn btn-primary" href="/#!/positions/{{position._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{position.created | date:'mediumDate'}} by {{position.user.displayName}}</em>
	</small>
	<p class="lead">
		{{position.details}}
	</p>
</section>