.panel.panel-default
  .panel-heading
    h4 Contact Information
      small.pull-right
        em.text-muted
          | Added on {{vm.applicant.dateCreated|date:'mediumDate'}}
      .label.pull-right.btn-legacy(ng-if="vm.applicant.legacy") Legacy
  .panel-body
    du-display-field(field-model="vm.applicant.name.honorific", field-label="Title", field-columns="2")
    du-display-field(field-model="vm.applicant.name.firstName", field-label="First Name", field-columns="3")
    du-display-field(field-model="vm.applicant.name.middleName", field-label="Middle Name", field-columns="2")
    du-display-field(field-model="vm.applicant.name.lastName", field-label="Last Name", field-columns="4")
    du-display-field(field-model="vm.applicant.name.suffix", field-label="Suff", field-columns="1")
.row
  .col-md-6(
    ng-if="vm.applicant.emailAddress.length || vm.applicant.phoneNumbers.length || vm.applicant.addresses.length || vm.applicant.applicantPositions.length || vm.applicant.credentials.length || vm.applicant.focalAreas.length")
    .panel.panel-default(ng-if="vm.applicant.emailAddresses.length")
      .panel-heading
        h4 Email
      .panel-body
        .col-xs-12
          div(data-ng-repeat='email in vm.applicant.emailAddresses')
            span {{email.emailAddress}}
    .panel.panel-default(ng-if="vm.applicant.phoneNumbers.length")
      .panel-heading
        h4 Phone
      .panel-body
        .col-xs-12
          div(data-ng-repeat='phone in vm.applicant.phoneNumbers')
            span {{phone.phoneNumber}}
            span(ng-show='phone.type != null') - {{phone.type}}
            span(ng-show='phone.primary === true')  (primary)
    .panel.panel-default(ng-if="vm.applicant.addresses.length")
      .panel-heading
        h4 Address
      .panel-body
        .col-xs-12
          div(data-ng-repeat='address in vm.applicant.addresses')
            span(ng-show='address.type != null') ({{address.type}})
            br
            span {{address.address1}}
            br
            span {{address.address2}}
            br
            span {{address.city}},
            span {{address.state}}
            span {{address.postal_code}}
            br
            span {{address.country}}
            br
            span(ng-show='address.primary === true')  (primary)
    .panel.panel-default(ng-if="vm.applicant.applicantPositions.length")
      .panel-heading
        h4 Positions
      .panel-body
        .col-xs-12
          div(data-ng-repeat='position in vm.applicant.applicantPositions', ng-init='i=position.institution')
            span {{position.positionName}},
            span {{i.institutionName}}
            span
              p {{i.city}}, {{i.state}} {{i.country}}
            .position-name.span3
              span
                | Expected Completion Date: {{position.dateExpectedCompletion != null ? position.dateExpectedCompletion : date('12/31/2015') | date: 'shortDate'}}
    .panel.panel-default(ng-if="vm.applicant.credentials.length")
      .panel-heading
        h4 Credentials
      .panel-body
        .col-xs-12
          div(data-ng-repeat='credential in vm.applicant.credentials')
            span {{credential.credential}},
            span {{credential.institution}}
            | ,
            span {{credential.year}}
    .panel.panel-default(ng-if="vm.applicant.focalAreas.length")
      .panel-heading
        h4 Focal Areas
      .panel-body
        .chip(ng-repeat="focalArea in vm.applicant.focalAreas") {{ focalArea.focalArea }}
  .col-md-6
    du-list-applications-smart-component(applicant-id="vm.applicant._id", view-mode="activeForApplicant")
  .col-md-6
    du-list-applications-smart-component(applicant-id="vm.applicant._id", view-mode="inactiveForApplicant")