div[data-ng-repeat] {
  margin-bottom: 10px;
}

.display-group {
  .display-group {
    width: 60%;
    margin-left: 20%;
    position: absolute;
    padding: 10px;
    border-width: 10px;
    margin-bottom: 20px;
  }
}

// TODO quick fix to get scrolling; what do we do elsewhere?

.ui-view-container {
  height: 100% !important;
}