.col-xs-12
  .row
    .col-md-6(ng-repeat="review in vm.application.reviewPhase.reviews")
      .row
        .col-md-12.form-group
          .input-group
            .input-group-addon
              i.fa.fa-times-circle(ng-click="vm.application.removeReview(review)")
              | &nbsp; Reviewer
            select.form-control(ng-options="committeeMember._id as committeeMember.displayName for committeeMember in reviewPhase.options.committeeMembers", ng-model="review.reviewer")

