.col-md-12
  .row
    h2 Overview
  .well.row
    .row
      .col-md-6.form-group
        label.control-label Opening Title
        .form-control-static(ng-bind="vm.opening.name")
      .col-md-3.form-group
        label.control-label Opening Date
        .form-control-static(ng-bind="vm.opening.dateStart | date")
      .col-md-3.form-group
        label.control-label Closing Date
        .form-control-static(ng-bind="vm.opening.dateClose | date")
  .row
    h2 Your Details
  .well.row(ng-if="!vm.user._id")
    user-signup-or-login-form(user="vm.user")
  .row(ng-if="vm.user._id")
    .col-md-2.form-group
      label.control-label Title
      .form-control-static(ng-bind="vm.application.honorific")
    .col-md-3.form-group
      label.control-label First Name
      .form-control-static(ng-bind="vm.application.firstName")
    .col-md-3.form-group
      label.control-label Middle Name
      .form-control-static(ng-bind="vm.application.middleName")
    .col-md-4.form-group
      label.control-label Last Name
      .form-control-static(ng-bind="vm.application.lastName")
  .well.row(name="vm.fileUploads", ng-if="vm.application._id")
    ng-form
      .row
        .col-md-6
          .button.btn.btn-save(ngf-select="vm.uploadFile($file, 'coverLetter')") Step 2: Upload Cover Letter
        .col-md-6
          .button.btn.btn-save(ngf-select="vm.uploadFile($file, 'cv')") Step 3: Upload Cv
  .row(ng-if="vm.application.coverLetter && vm.application.cv")
    .col-md-12
      button.btn.btn-save(ng-click="vm.submitApplication()") Step 4: Submit Your Application
