.col-xs-12
  .row
    .col-md-6(ng-repeat="phoneInterview in vm.application.phoneInterviewPhase.phoneInterviews")
      .row
        .col-xs-12.form-group
          .input-group
            .input-group-addon
              i.fa.fa-times-circle(ng-click="vm.application.removePhoneInterview(phoneInterview)")
              | &nbsp; Phone Interviewer
            select.form-control(ng-options="committeeMember._id as committeeMember.displayName for committeeMember in phoneInterviewPhase.options.committeeMembers", ng-model="phoneInterview.interviewer._id")