.panel.panel-default
  .panel-heading(ng-if="vm.heading")
    h4 {{ vm.heading }}
  .panel-body
    .col-md-6
      .row
        .col-md-5
          .button.btn.btn-upload(ngf-select="vm.uploadMethod({file: $file, type: vm.uploadType})", ng-disabled="vm.coverLetterFile") Upload File
        .col-md-7(ng-if="vm.coverLetterFile")
          i.fa.fa-file &nbsp;
          | {{ vm.coverLetterFile.name }} &nbsp;
      .row(ng-show="vm.coverLetterFile.progress >= 0")
        .col-xs-12 &nbsp;
        .col-xs-12
          .progress
            .progress-bar.progress-bar-success.progress-bar-striped(style="width:{{vm.coverLetterFile.progress}}%", ng-bind="vm.coverLetterFile.progress + '%'")