.panel.panel-default(
  ng-class="{'panel-success': vm.panelSuccess() }"
  )
  .panel-heading {{ vm.componentTitle }}
  .panel-body
    ul.list-group(ng-if="vm.applications.length")
      li.list-group-item(ng-repeat="application in vm.applications")
        .row
          .col-xs-12
            .row
              .col-md-8
                .row
                  .col-xs-12
                    strong {{ application.honorific + ' ' + application.firstName + ' ' + application.lastName }}
                .row
                  .col-xs-12.small
                   a(ng-click="vm.viewOpening(application.opening)") {{application.opening.name }}
                .row
                  .col-xs-12
                    span.label.label-info Submitted: {{ application.dateSubmitted | standardDate }}
              .col-md-4.text-right
                .btn.btn-sm.btn-primary(ng-click="vm.clickAction(application)") {{ vm.buttonTitle }}
    .alert.alert-info(ng-if="!vm.applications.length") No matching Applications

