.rocker-switch(ng-class="{off: (vm.toggleSwitchModel === false), on: (vm.toggleSwitchModel === true)}")
   .switch-off-zone(ng-click="vm.toggleSwitch($event)") Yes
   .switch-on-zone(ng-click="vm.toggleSwitch($event)") No
   .switch