tr
  th.sort-control(ng-if="!!column.sortable && !column.hidden", ng-repeat="column in vm.collection.columnDefinitions", ng-class="vm.collection.getSortingClass(column.field)", ng-click="vm.collection.sortBy(column.field)") {{ column.label }}
  th(ng-if="!column.sortable && !column.hidden", ng-repeat="column in vm.collection.columnDefinitions") {{ column.label }}