section
  navigation
  .row
    .col-md-6
      du-list-applications-smart-component(view-mode="iAmReviewer")
      du-list-applications-smart-component(view-mode="iAmPhoneInterviewer")
      du-list-applications-smart-component(view-mode="allOpen")
    .col-md-6
      du-list-openings-smart-component(view-mode="current")
