section
  navigation
  .row
    .col-xs-12
      application-form-dual-selector(ng-if="vm.user.hasRole(['admin', 'committee member'])")
      application-form-self-service(ng-if="!vm.user.hasRole(['admin', 'committee member'])")