section
  navigation
  h3 Opening: {{ vm.application.opening.name }} &nbsp;
    i.fa(ng-class="{'fa-toggle-right': (!vm.application.opening.isOpen), 'fa-toggle-down': (!!vm.application.opening.isOpen)}", ng-click="vm.application.opening.isOpen = !vm.application.opening.isOpen")
  .col-xs-12.well(collapse="!vm.application.opening.isOpen")
    .row
      .col-xs-12(ng-bind="vm.application.opening | json")
  h3 Applicant: {{ vm.application.applicant.name.firstName + ' ' + vm.application.applicant.name.lastName }} &nbsp;
    i.fa(ng-class="{'fa-toggle-right': (!vm.application.applicant.isOpen), 'fa-toggle-down': (!!vm.application.applicant.isOpen)}", ng-click="vm.application.applicant.isOpen = !vm.application.applicant.isOpen")
  .col-xs-12.well(collapse="!vm.application.applicant.isOpen")
    .row
      .col-xs-12(ng-bind="vm.application.applicant | json")
  h3 Application Workflow
  .col-xs-12
    .row.well
      .col-md-4
        label.control-label Proceed to Review?
        du-toggle-switch(toggle-switch-model="vm.application.proceedToReview")
      .col-md-4(ng-show="vm.application.proceedToReview")
        label.control-label Proceed to Phone Interview?
        du-toggle-switch(toggle-switch-model="vm.application.reviewPhase.proceedToPhoneInterview")
      .col-md-4(ng-show="vm.application.proceedToReview && vm.application.reviewPhase.proceedToPhoneInterview")
        label.control-label Proceed to On-Campus Visit?
        du-toggle-switch(toggle-switch-model="vm.application.phoneInterviewPhase.proceedToOnSite")
  .col-xs-12
    .row(ng-if="!!vm.application.proceedToReview")
      h3 Reviews&nbsp;
        i.fa.fa-plus-circle(ng-show="vm.application.showAddReviewButton()", ng-click="vm.application.addReview()")
      .col-xs-12
        .row.well
          application-review-form
  .col-xs-12
    .row(ng-if="!!vm.application.proceedToReview && !!vm.application.reviewPhase.proceedToPhoneInterview")
      h3 Phone Interviews&nbsp;
        i.fa.fa-plus-circle(ng-show="vm.application.showAddPhoneInterviewButton()", ng-click="vm.application.addPhoneInterview()")
      .col-xs-12
        .row.well
          application-phone-interview-form
