section
  navigation
  du-application-applicant-info(application="vm.application")
  .row
    .col-xs-12
      du-grid-file-metadata-view(ng-if="vm.application.coverLetter", heading="Cover Letter", file-metadata="vm.application.coverLetterFileMeta", remove-file-method="vm.removeFile(fileId)", show-remove-option='true')
      du-application-upload-file(ng-if="!vm.application.coverLetter", heading="Cover Letter", upload-method="vm.uploadFile(file, type)", upload-type="coverLetter")
    .col-xs-12
      du-grid-file-metadata-view(ng-if="vm.application.cv", heading="Curriculum Vitae", file-metadata="vm.application.cvFileMeta", remove-file-method="vm.removeFile(fileId)", show-remove-option='true')
      du-application-upload-file(ng-if="!vm.application.cv", heading="Curriculum Vitae", upload-method="vm.uploadFile(file, type)", upload-type="cv")
  .row
    du-opening-view-smart-component(opening-id="vm.application.opening._id", start-collapsed='true')
  h2 Application Workflow
  .col-xs-12
    .row.well
      .col-md-4
        label.control-label Proceed to Review?
        du-toggle-switch(toggle-switch-model="vm.application.proceedToReview")
      .col-md-4(ng-show="vm.application.proceedToReview")
        label.control-label Proceed to Phone Interview?
        du-toggle-switch(toggle-switch-model="vm.application.reviewPhase.proceedToPhoneInterview")
      .col-md-4(ng-show="vm.application.proceedToReview && vm.application.reviewPhase.proceedToPhoneInterview")
        label.control-label Proceed to On-Campus Visit?
        du-toggle-switch(toggle-switch-model="vm.application.phoneInterviewPhase.proceedToOnSite")
  .col-xs-12
    .row(ng-if="!!vm.application.proceedToReview")
      h3 Reviews&nbsp;
        i.fa.fa-plus-circle(ng-show="vm.application.showAddReviewButton()", ng-click="vm.application.addReview()")
      .col-xs-12
        .row.well
          application-review-form
  .col-xs-12
    .row(ng-if="!!vm.application.proceedToReview && !!vm.application.reviewPhase.proceedToPhoneInterview")
      h3 Phone Interviews&nbsp;
        i.fa.fa-plus-circle(ng-show="vm.application.showAddPhoneInterviewButton()", ng-click="vm.application.addPhoneInterview()")
      .col-xs-12
        .row.well
          application-phone-interview-form
