section
  navigation
  .row
    .col-xs-12
      .angular-filtering
        .col-xs-12
          form
            .row
              .form-group.col-md-4
                .input-group
                  .input-group-addon Name
                  input.form-control(ng-model='vm.filtering.filterCriteria.displayName', placeholder='Any', ng-change="vm.filterCollection()")
              .form-group.col-md-4
                .input-group
                  .input-group-addon Name
                  input.form-control(ng-model='vm.filtering.filterCriteria.username', placeholder='Any', ng-change="vm.filterCollection()")
            .row
              .form-group.col-md-3
                .input-group
                  .input-group-addon Records
                  select.form-control(ng-model='vm.paginator.itemsPerPage', ng-options='option.items as option.items for option in vm.paginator.paginationOptions')
            .row
              .col-xs-12
                button.btn.btn-default.btn-undo(ng-click="vm.clearFilters()") Clear Filters
  .row
    .col-xs-12
      ng-form(name="vm.forms")
        .list-group.collapsible
          ng-form(name="userForm", ng-repeat="user in vm.users.paginated")
            .list-group-item
              .list-group-item-heading(ng-click="user.isCollapsed = !user.isCollapsed")
                .row
                  .col-md-9
                    h4
                      button.btn.btn-xs.no-text.btn-save(ng-click="vm.saveUser(user, userForm)", ng-show="userForm.$dirty")
                      | &nbsp;
                      button.btn.btn-xs.no-text.btn-undo(ng-click="vm.undoUser(user, userForm)", ng-show="userForm.$dirty")
                      | &nbsp; {{ user.lastName + ', ' + user.firstName }}
                      span(ng-repeat="role in user.roles") &nbsp;
                        .btn.btn-default.btn-xs {{ role }}
                  .col-md-3.text-right
                    button.btn.btn-workflow(ng-click="vm.masquerade(user)") Masquerade
              .list-group-item-text(collapse="user.isCollapsed")
                .row
                  .col-md-12
                    .row
                      .col-md-4
                        .input-group.form-group
                          .input-group-addon First Name
                          input.form-control(ng-model="user.firstName")
                      .col-md-4
                        .input-group.form-group
                          .input-group-addon Last Name
                          input.form-control(ng-model="user.lastName")
                      .col-md-4
                        .input-group.form-group
                          .input-group-addon Username
                          input.form-control(ng-model="user.username")
                    .row
                      .col-md-4
                        .input-group.form-group
                          .input-group-addon Email
                          input.form-control(ng-model="user.email")
                      .col-md-8
                        .input-group.form-group
                          .input-group-addon Roles
                          ui-select(multiple, ng-model="user.roles")
                            ui-select-match(placeholder="choose roles") {{$item}}
                            ui-select-choices(repeat="role in vm.roles") {{ role }}
  .row(ng-show="!!vm.users.paginated.length")
    .col-xs-12
      pagination(boundary-links="true", ng-model="vm.paginator.currentPage", items-per-page="vm.paginator.itemsPerPage", max-size="vm.paginator.maxSize", total-items="vm.users.matched.length", num-pages="vm.paginator.totalPages", ng-change="vm.paginate()")