section
  navigation
  .row
    .col-xs-12
      p Based on your Duke NetId, you do not have access to this application.
      p If you believe that you should have access, please contact DUSON CITDL at 919.684.9200

