section
  navigation
  .row
  .col-xs-offset-2.col-xs-8.col-md-offset-5.col-md-2
    form.signin.form-horizontal(data-ng-submit="signin()")
      fieldset
        .text-center.form-group
          a.btn.btn-workflow(href="/auth/saml") Login with your NetId