section
  navigation
  .row
  .col-xs-offset-2.col-xs-8.col-md-offset-2.col-md-8
    .panel.panel-default
      .panel-heading
        h3 Duke Users
      .panel-body
        a.btn.btn-login(ng-click="signin()", href="/auth/saml") Login with your NetId
    .panel.panel-default
      .panel-heading
        h3 Applicants
      .panel-body
        user-signup-or-signin-form(user="vm.user")