ng-form(name="vm.eoedataForm")
  .row
    .col-md-3.control-group
      label.control-label Position
      .form-control-static(ng-bind="vm.getPosition(vm.eoedata.position)")

    .col-md-6.form-group
      label.control-label Eoedata Title
      .form-control-static(type='text', data-ng-bind='vm.eoedata.name')
    .col-md-3
      label.control-label Date Requested
      .form-control-static(ng-bind="vm.eoedata.dateRequested | date")

  .row
    .col-md-3
      .row
        .col-md-12
          label.control-label Posting Date
          .form-control-static(ng-bind="vm.eoedata.datePosted | date")

        .col-md-12
          label.control-label Eoedata Date
          .form-control-static(ng-bind="vm.eoedata.dateStart | date")

        .col-md-12
          label.control-label Closing Date
          .form-control-static(ng-bind="vm.eoedata.dateClose | date")

        .col-md-12.form-group
          label.control-label Is this an active Eoedata?&nbsp;
            span(type="checkbox", ng-bind="vm.eoedata.isActive | checkMark")
    .col-md-9
      .row
        .col-md-12.form-group
          label.control-label Details
          .form-control-static(data-ng-bind='vm.eoedata.details')
  .row
    .col-xs-12
      h3 Online Postings&nbsp;
      table.table.table-striped
        thead
          tr
            th Source
            th Link
        tbody
          tr(ng-repeat="pLink in vm.eoedata.postingLink")
            td(ng-bind="pLink.source")
            td
              a(ng-href="http://{{pLink.url}}", ng-bind="pLink.url", target="_blank")