ng-form(name="directiveVm.userSignupOrLoginForm")
  .row
    .col-md-2.form-group(ng-show="directiveVm.emailIsUnique")
      label.control-label Title
      input.form-control(name="honorific", type="text", ng-model="directiveVm.user.honorific", required)
    .col-md-3.form-group(ng-show="directiveVm.emailIsUnique")
      label.control-label First Name
      input.form-control(name="firstName", type="text", ng-model="directiveVm.user.firstName", required)
    .col-md-3.form-group(ng-show="directiveVm.emailIsUnique")
      label.control-label Middle Name
      input.form-control(name="middleName", type="text", ng-model="directiveVm.user.middleName")
    .col-md-4.form-group(ng-show="directiveVm.emailIsUnique")
      label.control-label Last Name
      input.form-control(name="lastName", type="text", ng-model="directiveVm.user.lastName", required)

  .row
    .col-md-6.form-group(ng-class="{ 'has-success': directiveVm.userSignupOrLoginForm.email.$valid, 'has-warning': directiveVm.userSignupOrLoginForm.email.$invalid && directiveVm.userSignupOrLoginForm.email.$dirty}")
      label.control-label Email Address
      .input-group
        input.form-control(name="email", type="email", ng-model="directiveVm.user.email", required)
        .input-group-addon
          i.fa.fa-envelope
    .col-md-6.form-group(ng-show="directiveVm.userSignupOrLoginForm.email.$dirty", ng-class="{ 'has-success': directiveVm.userSignupOrLoginForm.email.$valid, 'has-warning': directiveVm.userSignupOrLoginForm.email.$invalid && directiveVm.userSignupOrLoginForm.email.$dirty}")
      .add-label-spacing.message  {{ directiveVm.emailStatusMessage }}

  .row(ng-show="directiveVm.userSignupOrLoginForm.email.$valid")
    .col-md-6.form-group(ng-class="{'has-success': directiveVm.passwordIsStrong }")
      label.control-label Password
      .input-group
        input.form-control(type="password", name="password", ng-model="directiveVm.user.password", required, ng-change="directiveVm.checkPassword()")
        .input-group-addon
          i.fa.fa-key
    .col-md-6.form-group(ng-show="directiveVm.userSignupOrLoginForm.password.$dirty", ng-class="{'has-success': directiveVm.passwordIsStrong }")
      .add-label-spacing.message {{ directiveVm.passwordStatusMessage }}

  .row(ng-show="directiveVm.passwordIsStrong && directiveVm.emailIsUnique")
    .col-md-6.form-group(ng-class="{'has-success': directiveVm.passwordsMatch && directiveVm.userSignupOrLoginForm.password.$valid}")
      label.control-label Confirm Password
      .input-group
        input.form-control(type="password", name="passwordConfirm", ng-model="directiveVm.user.passwordConfirm", ng-required="directiveVm.emailIsUnique", ng-change="directiveVm.checkPasswordsMatch()")
        .input-group-addon
          i.fa.fa-key
    .col-md-6.form-group(ng-show="directiveVm.userSignupOrLoginForm.passwordConfirm.$dirty", ng-class="{'has-success': directiveVm.passwordsMatch && directiveVm.userSignupOrLoginForm.password.$valid}")
      .add-label-spacing.message {{ directiveVm.passwordConfirmStatusMessage }}

  .row
    .col-md-12
      button.btn.btn-login(ng-if="!directiveVm.emailIsUnique" ng-click="directiveVm.signin()") Looks like you've been here before, Login
      button.btn.btn-default.btn-workflow(
        ng-show="directiveVm.emailIsUnique",
        ng-click="directiveVm.signup()",
        ng-disabled="directiveVm.userSignupOrLoginForm.$invalid || directiveVm.checkingEmail || !directiveVm.emailIsUnique") Step 1: Save Your Details
