section
  navigation
  .label.pull-right.btn-legacy(ng-if="vm.application.legacy") Legacy
  du-application-overview(application="vm.application")
  .row(ng-if="vm.application.onSiteVisitPhase.complete")
    .col-xs-12
      du-application-offer(application="vm.application", mode="view")
  .row
    .col-xs-12
      du-grid-file-metadata-view(heading="Cover Letter", file-metadata="vm.application.coverLetterFileMeta")
    .col-xs-12
      du-grid-file-metadata-view(heading="Curriculum Vitae", file-metadata="vm.application.cvFileMeta")
  .panel.panel-default(ng-if="vm.application.legacy")
    .panel-heading
      h4 Legacy Data
    .panel-body
      div
        du-display-field(ng-if="vm.application.legacy.cv", field-model="vm.application.legacy.cv",
        field-label="CV Link",
        field-columns="12")
  .row
    du-opening-view-smart-component(opening-id="vm.application.opening._id", start-collapsed='true')
    .col-xs-12
      du-application-review-phase-smart-component(review-phase="vm.application.reviewPhase", proceed-to-review-phase="{{ vm.application.proceedToReview }}")
    .col-xs-12
      du-application-phone-interview-phase-smart-component(phone-interview-phase="vm.application.phoneInterviewPhase", proceed-to-phone-interview-phase="{{ vm.application.reviewPhase.proceedToPhoneInterview }}")
